<div class="fifty-fifty">
  <div class="fifty-fifty__panel mailing">
    <div class="pane-image">
      <img alt="envelope drawing with a dog on the letterhead" src="https://www.greymuzzle.org/sites/all/themes/custom/greymuzzle/assets/dist/images/mail-icon.png" style="height:130px; width:125px">
    </div>
    <h2 class="pane-title">Join Our Mailing List Today</h3>
    <div class="pane-text">
      <h3>Join us to help old dogs!</h3>
      <p>You'll get the latest old dog news just every few weeks. Our monthly e-communications include stories of the dogs and people who have been helped by our support, tips for senior dog care, and updates on the latest happenings at Grey Muzzle.</p>
      <p><a class="button" href="/join-our-newsletter">Sign Up Now<span class="element-invisible"> for our mailing list</span></a></p>
    </div>
  </div>
  <div class="fifty-fifty__panel spread">
    <div class="pane-image">
      <img alt="drawing of a bullhorn" src="https://www.greymuzzle.org/sites/all/themes/custom/greymuzzle/assets/dist/images/spread-the-word.png" style="width:141px; height: 130px">
    </div>
    <h2 class="pane-title">Help Us Spread the Word!</h2>
    <div class="pane-text">
      <h3>Copy, Paste, &amp; Share!</h3>
      <p>
        <a href="https://twitter.com/GreyMuzzleOrg"><img alt="Twitter" src="https://www.greymuzzle.org/sites/all/themes/custom/greymuzzle/assets/dist/images/twitter-icon.png"></a>
        <a href="https://www.facebook.com/GreyMuzzle"><img alt="Facebook" src="https://www.greymuzzle.org/sites/all/themes/custom/greymuzzle/assets/dist/images/facebook-icon.png"></a>
      </p>
      <p>#LoveOldDogs @GreyMuzzleOrg<br>I am helping save homeless senior dogs.<br>Will you join me?<br>bit.ly/loveolddogs #LoveOldDogs</p>
    </div>
  </div>
</div>
