// Buttons
//
// Markup: components.buttons.hbs
//
// Style guide: components.buttons

input[type="submit"],
input[type="reset"],
button[type="button"],
.button,
.button:link {
  @include button;

  &:hover,
  &:focus {
    background: lighten(color(blue-chill), 5%);
  }

  @include breakpoint($bp-medium) {
    display: inline-block;
    width: inherit;
  }
}

.button__centered {
  @include button-centered(250px);
}

/**
 * overrides views default styles
 * for top margin.
 */
.views-exposed-widget .form-submit {
  margin-top: 1.55em !important;
}

.button__donate,
.button__donate:link {
  @include button-donate;

  &:hover,
  &:focus {
    background: lighten(color(sunglow), 10%);
  }

  @include breakpoint($bp-medium) {
    display: inline-block;
    width: inherit;
  }
}

.button--hero,
.button--hero:link {
  width: fit-content;
  font-size: x-small;
  margin-top: 50px;
  margin-left: -15px;
  padding: .2rem .4rem;
  @include breakpoint($bp-medium) {
    padding: .8rem 1.5rem;
    font-size: .8rem;
  }
  @include breakpoint($bp-large) {
    margin: 0;
    font-size: 1.5rem;
  }
}
