.blog-teaser {
  @include wrapper;

  margin-bottom: 1rem;
  a {
    color: clr(primary);
    text-decoration: none;
  }
  h2 {
    margin-bottom: 0;
    font-size: 1.7rem;
    font-weight: 700;
  }

  &__content {
    display: flex;

    &--image {
      flex: 0 0 auto;
      padding: 0.4rem 0;
      margin-right: 1rem;
      text-align: right;
      img {
        max-width: 160px;
      }
    }
  }
  &__readmore {
    a {
      border-bottom: 2px solid #067799;
      &:hover {
        border-bottom: none;
      }
    }
  }
}
