// Footer
//
// Markup: components.footer.hbs
//
// Style guide: components.footer

.l-footer {
  @include clearfix;
  background: color(gray-tundora);
  display: flex;
  min-height: 100px;
  padding: 0 1rem 1.5rem;
  overflow: hidden;

  a {
    border: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .panel-col div {
    display: flex;
    flex-flow: column nowrap;

    @include breakpoint($bp-large) {
      flex-flow: row wrap;
    }
  }
}

.l-region--footer {
  width: 100%;
  max-width: 1200px;
  float: none;
  margin: 0 auto;
  margin-top: 26px;
}

.footer__legal {
  display: flex;
  align-items: center;
  flex: 1 1 40%;
  margin-bottom: 1rem;
  justify-content: center;

  @include breakpoint($bp-large) {
    margin-bottom: 0;
    float: left;
    margin-top: 13px;
  }

  .legal__link-item {
    @include font-size(12px);
    color: color(white);
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }

    @include breakpoint($bp-large) {
      @include font-size(14px);
    }
  }
}

.footer__donate {
  text-align: center;
  flex: 1 1 20%;
  margin-bottom: 1rem;

  @include breakpoint($bp-large) {
    margin-bottom: 0;
    margin: 0 auto;
    max-width: 45%;
  }

  .button {
    @include button-donate;

    &:hover,
    &:focus {
      background: lighten(color(sunglow), 10%);
    }

    @include breakpoint($bp-medium) {
      @include button-centered(250px);
    }

    @include breakpoint($bp-large) {
      @include button-centered(inherit);
    }
  }
}

.footer__social,
.footer__social div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 33%;
  margin-bottom: 1rem;

  @include breakpoint($bp-large) {
    margin-bottom: 0;
    justify-content: flex-end;
    max-width: 33%;
    float: right;
    margin-top: -40px;
  }
}

.legal__links {
  display: flex;
  list-style: none;
}

.legal__link-item {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: color(gray-gallery);
}

/**
 * styles knowbility logo.
 */
.footer-bottom {
  @include clearfix;
  margin: 1rem auto 0;
  max-width: 375px;

  @include breakpoint($bp-large) {
    max-width: 100%;
  }
}

.knowbility a {
  @include image-replace(93px, 21px);
  float: left;
  margin-right: 2rem;
  margin-left: 1rem;
  background: url(../assets/dist/images/knowbility.png) 0 0 no-repeat;
}

.updated-date {
  @include font-size(12px);
  color: color(white);
  float: right;

  @include breakpoint($bp-large) {
    @include font-size(14px);
    float: left;
  }
}
