<footer role="contentinfo">
  <div class="footer__legal">
    <ul class="legal__links">
      <li><a class="legal__link-item" href="/private-policy">Private Policy</a></li>
      <li><a class="legal__link-item" href="/sitemap.html">Sitemap</a></li>
      <li><a class="legal__link-item" href="/sitemap.html">Accessibility</a></li>
    </ul>
  </div>
  <div class="footer__donate">
    <a type="button" class="footer__donate--button button">Donate Now</a>
  </div>

  <div class="footer__social">
      <ul class="social__links">
        <li><a class="fa fa-twitter social__link-item" href="#"><span>Twitter</span></a></li>
        <li><a class="fa fa-facebook social__link-item" href="#"><span>Facebook</span></a></li>
        <li><a class="fa fa-youtube social__link-item" href="#"><span>YouTube</span></a></li>
        <li><a class="fa fa-instagram social__link-item" href="#"><span>Instagram</span></a></li>
        <li><a class="fa fa-pinterest social__link-item" href="#"><span>Pinterest</span></a></li>
      </ul>
    </div>
</footer>
