<div class="paragraph paragraph-full">
  <div class="paragraph-full__container">
    <h2 class="paragraph-full__title">Donate with Confidence.</h2>
    <div class="paragraph-full__text">
      <a href="https://www.guidestar.org/profile/26-1965495" target="_blank"><img alt="GuideStar Exchange Gold Participant" src="https://widgets.guidestar.org/gximage2?o=8636133&amp;l=v4" style="height:90px; width:90px"></a>
      <p>Grey Muzzle is a non-profit charitable organization and a GuideStar Exchange Platinum Participant, the only pre-grant due diligence tool that is 100% compliant with IRS Rev.</p>
      <p><a href="http://www.guidestar.org/">Learn More<span class="element-invisible"> about us on Guidestar's website</span></a></p>
    </div>
    <div class="paragraph-full__cta">
      <a class="btn btn__secondary" href="https://greymuzzle.z2systems.com/np/clients/greymuzzle/donation.jsp?campaign=51&amp;">Donate Now</a>
    </div>
  </div>
</div>
