// Sidebar Navigation
//
// Markup: components.sidebar-navigation.hbs
//
// Style guide: components.sidebar-navigation

.l-region--sidebar-first {
  background: color(aliceblue);
  padding: 22px 0;
  margin-left: 0;
  clear: both;

  @include breakpoint($bp-large) {
    margin-left: -14px;
  }

  .sidebar-nav__wrapper,
  .block--menu-block,
  .block__content {
    width: 83%;
    background-color: color(white);
    margin: 0 auto;
    padding: 6px 20px;
    text-align: center;

    @include breakpoint($bp-small) {
      width: 87%;
    }

    @include breakpoint($bp-medium) {
      width: 90%;
    }

    @include breakpoint($bp-large) {
      width: 100%;
      text-align: left;
      padding: 6px 20px 6px 32px;
    }
  }

  .sidebar-nav__heading,
  .block__title {
    font-size: 1.2em;
    text-transform: uppercase;
    color: color(gray-tundora);
  }

  .sidebar-nav__main,
  .menu-block-wrapper {
    padding: 0;
    margin: -6px 0 0 0;

    .menu {
      padding-left: 0;
    }

    ul li .menu,
    ul li ul li .menu {
      padding-left: 15px;
    }

    li {
      list-style: none;
      padding: 4px 0 1px;

      a {
        color: color(blue-chill);
        text-decoration: none;

        &:active {
          font-weight: bold;
          text-decoration: underline;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      &.active-trail.active {
        font-weight: bold;
        list-style-position: none;
        list-style-type: none;
        color: color(blue-chill);

        @include breakpoint($bp-large) {
          list-style-position: outside;
          list-style-type: disc;
          padding-bottom: 0;
        }

        > ul > li.leaf > a {
          font-weight: normal;
        }
      }
    }
  }
}
