<aside class="l-region--sidebar-first">
  <div class="sidebar-nav__wrapper">
    <h2 class="sidebar-nav__heading">How to help</h2>
    <ul class="sidebar-nav__main">
      <li class="active"><a href="/node/1908">Donate</a></li>
        <ul class="sidebar-nav__submenu">
          <li><a href="/node/1908">Faithful Friends</a></li>
          <li class="active"><a href="/node/1908">Always in My Heart</a></li>
          <li><a href="/node/1908">Donate a Bed</a></li>
          <li><a href="/node/1908">Donate a Vehicle</a></li>
        </ul>
      <li><a href="/node/1908">Volunteer</a></li>
      <li><a href="/node/1908">Spread the Word</a></li>
      <li><a href="/node/1908">Grey Muzzle Pride</a></li>
    </ul>
  </div>
</aside>
