// Grey Muzzle Misc
//
// Style guide: components.greymuzzle-misc

// Adding this code for consistent focus on different browsers
// Ref: http://stackoverflow.com/questions/6601697/restore-webkits-css-outline-on-input-field
input:focus,
input[type=submit]:focus,
a:focus,
a#text_resize_increase:focus,
a#text_resize_reset:focus,
a#text_resize_decrease:focus,
button:focus {
  outline: none;
  box-shadow: 0px 0px 4px 3px #78b6f7;
  z-index: 1;
}

// General changes
.not-front .l-content {
  @include clearfix;
  background: color(white);
  padding: 40px 20px;
  margin-top: -25px;

  @include breakpoint($bp-medium) {
    padding: 40px;
  }
}

.l-navigation,
.l-region--accessibility-bar {
  position: absolute;
  z-index: 9;
}

.l-content h1 {
  max-width: 72%;
}

h2 {
  font-size: 1.7em;
}

.not-front .l-content h2 {
  padding: 0;
  margin: 0;
}

.l-content .l-sidebar-second .pane-title {
  padding: 20px 0 0;
}

.not-front  .l-content .view__heading,
.not-front  .l-content .l-main-content {
  margin-bottom: 12px;
  padding-bottom: 8px;
}

.not-front  .l-content .pane-title {
  margin-bottom: 12px;
  padding-bottom: 8px;
  padding-top: 20px;
}

input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
textarea.error,
input#edit-submitted-name.form-text.required.error,
select#edit-submitted-about.form-select.required.error {
  border: 5px solid #FF0000 !important;
}

.l-sidebar-second p a.button.button__donate {
  width: 100%;
}

.advisory-board {

  .list__item {
    margin-bottom: 35px;
  }

  div:nth-child(4),
  div:nth-child(7),
  div:nth-child(10) {
    clear: both;
  }
}

.panel-right-sidebar .l-sidebar-second {
  background: #f6f6f6;
  padding: 1.5rem 1rem !important;
  margin: 40px 0 0 !important;
  text-align: center;

  .inside {
    margin: 0;
  }

  @include breakpoint($bp-medium) {
    margin: 40px 0 0 !important;
  }

  @include breakpoint($bp-large) {
    text-align: left;
  }
}

// Panel pages need this for social share icon placement
.l-one-column,
.panel-two-columns,
.panel-right-sidebar,
.panel-three-columns {
  position: relative;
  margin-top: -16px;
}

#mini-panel-footer.panel-display.l-one-column {
  margin-top: 0;
}

// General media wrapper to hide image space if no images
.media-wrapper {
  text-align: center;

  @include breakpoint($bp-medium) {
    flex: 0 0 auto;
    padding: 0.4rem 0;
    margin-right: 1rem;
    text-align: right;
  }
}

// This keeps the footer at the bottom of the page
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: color(white);
}

.not-front {
  background: color(aliceblue);
}

.l-page {
  width: 100%;
  height: 100%;
  position: relative;
  background: url("/sites/all/themes/custom/greymuzzle/assets/dist/images/background-header.png");
  background-repeat: repeat-x;
}

.l-main {
  min-height: 80%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
}

.l-footer {
  width: 100%;
  position: absolute;
  left: 0;
}

// Adds color to the input placeholder for better contrast
// From: http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
   color: color(gray-tundora);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: color(gray-tundora);
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: color(gray-tundora);
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: color(gray-tundora);
}


// Accessibility themes - stays at bottom to avoid any overrides
body.dyslexia {
  font-family: $dyslexia-font;

  button#dyslexia {
    background: color(blue-chill);
    color: color(white);
  }

  .l-main-content a, .node__content a, .l-sidebar-second a {
    text-decoration: underline;
    border-bottom: none;
    font-weight: bold;
  }
}

body.contrast {
  color: color(yellow);
  font-family: $base-font;
  background-color: color(black);
  border: none;

  a,
  a:link,
  .active,
  .dyslexic-font,
  a#text_resize_increase,
  a#text_resize_reset,
  a#text_resize_decrease,
  .search input[type="submit"],
  .l-header,
  .l-accessibility-bar,
  .l-support,
  .l-donate,
  .l-mailing-list,
  .list--row .dog-name,
  footer[role="contentinfo"],
  .accessible-megamenu ul li ul,
  .l-content,
  .sharethis-wrapper button,
  .l-region--sidebar-first,
  .l-region--sidebar-first .sidebar-nav__wrapper,
  .l-region--sidebar-first .block--menu-block,
  .l-region--sidebar-first .block__title,
  .l-region--sidebar-first .menu-block-wrapper li a,
  .list--row,
  .panel-right-sidebar .l-sidebar-second,
  .pager .pager__item--first a,
  .pager .pager__item--previous a,
  .pager .pager__item--next a,
  .pager .pager__item--last a,
  .pane-bundle-contact-us-sidebar-block .field,
  .l-page,
  .accessible-megamenu .accessible-megamenu-top-nav-item a,
  .l-donate .wrapper p a,
  .l-spread-word,
  .updated-date,
  .l-region--sidebar-first .sidebar-nav__main li.active-trail.active,
  .l-region--sidebar-first .menu-block-wrapper li.active-trail.active,
  .responsive-menus.responsified span.toggler,
  .l-footer,
  .form-required,
  .is-deceased {
    color: color(yellow);
    background-color: color(black);
    border: none;
  }

  a.social__link-item,
  .search input[type="text"],
  input[type="submit"],
  input[type="reset"],
  button[type="button"],
  .button,
  .button:link,
  .pager .pager__item--current,
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea,
  a.fieldset-title,
  button#contrast,
  .responsive-menus.responsified .responsive-menus-simple li a,
  .pager .pager-current,
  .pager .pager-current a {
    background-color: color(yellow);
    color: color(black);
  }

  .l-main-content a,
  .node__content a,
  .l-sidebar-second a {
    text-decoration: none;
    border-bottom: 2px solid color(yellow);

    &:hover,
    &:focus {
      border: none;
    }
  }

  a[class^="a2a_button_"],
  a.social-link_youtube {
    border: none;
  }

  .pager .pager-item a,
  .pager .pager-item,
  .pager .pager-next,
  .pager .pager-previous,
  .pager .pager-last,
  .pager .pager-first,
  .pager a,
  .l-region--footer a {
    border: none;
    color: color(yellow);
  }

  .l-region--footer a.footer__donate--button.button {
    border: none;
    color: color(black);
  }

  .header__donate a {
    top: -85px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  hr {
    display: none;
  }

  .l-support,
  .l-donate,
  .l-mailing-list,
  .l-spread-word .wrapper p {
    img {
      display: none;
    }
  }

  .header__donate a {
    background-image: none;
  }

  .accessible-megamenu .accessible-megamenu-panel {
    background: black;
    border: yellow 2px solid;
    box-shadow: none;
  }

  select,
  fieldset.collapsible.collapsed legend,
  fieldset.collapsible legend {
    background-color: color(yellow);
    color: black;
  }

  .l-mailing-list .pane-title,
  .l-spread-word .pane-title {
    margin-bottom: 0;
  }

  .l-hero {
    text-shadow: none;

    h2 {
      color: color(black);
    }

    .fieldable-panels-pane {
      height: 260px;
      color: color(yellow);
      border: none;
    }

    .field--name-field-hero-intro-caption {
      width: 90%;
      text-align: center;
    }

    .hero__subheading {
      color: color(yellow);
    }

    img {
      height: 0;
    }
  }

  .knowbility a {
    background: url(../assets/dist/images/knowbility.png) 0 0 no-repeat;
  }

  .site-logo {
    background: url('/sites/all/themes/custom/greymuzzle/logo.png') 0 0 no-repeat !important;
  }

  .responsive-menus.responsified.responsive-toggled.absolute .responsive-menus-simple {
    background: color(yellow);
  }
}

body.contrast.dyslexia {
  font-family: $dyslexia-font;

  button#dyslexia {
    background: color(yellow);
    color: color(black);
  }
}

/**
 * helps the positioning of
 * social media icons as absolute.
 */
.node--full {
  position: relative;
}