<div class="aimh aimh--full">
  <div class="aimh--wrapper">
      <div class="media-wrapper">
        <figure class="media__image">
          <img typeof="foaf:Image" src="https://www.greymuzzle.org/sites/default/files/styles/medium/public/always_in_my_heart/bentley_0.jpg?itok=Q8Egljq4" alt="" width="220" height="147">
          <figcaption class="aimh__dog-name">Bentley</figcaption>
        </figure>
      </div>
      <div class="donor-wrapper">
        <h3 class="donor__name">Rebecca</h3>
        <div class="donor__text">
          <p>Your radiant smile brightened my days, and your gentle and loving nature uplifted everyone who knew you. You were my dearest friend and my best teacher. I adore you forever, my most perfect boy.</p>
        </div>
      </div>
  </div>
</div>
