/* Menu media */
$main-menu-medium: $medium;

.navbar-nav {

  .nav-link {
    color: clr(primary);
  }

  .dropdown-menu {
    padding: .5rem 2rem;
    min-width: 15rem;
    li {
      color: clr(primary);
    }
    a {
      text-decoration: none;
      font-size: .92rem;
      line-height: 1.2rem;
      margin-bottom: .5rem;
    }
  }
}

/* Nav */
.main-nav {
  display: none;

  @include medium {
    display: block;
  }

  &--open {
    background-color: $white;
    display: block;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    top: 134px;
    right: 0;
    width: 100%;
  }
}

/* UL */
.main-menu {
  @include list-reset;

  border-bottom: 1px solid;
  position: relative;
  z-index: 10;

  @include medium {
    border-bottom: none;
  }
}

/*
 * Sub Navigation
 */

/* UL (Nested) */
.main-menu--sub {
  border-bottom: none;
  height: 0;
  overflow: hidden;
  background-color: $white;
  width: 100%;

  @include medium {
    display: none;
    height: auto;
    left: 0;
    overflow: visible;
    padding: 0;
    position: absolute;
    width: 315px;
    z-index: 1;
    font-size: 0.9rem;
  }

  &:hover {
    @include medium {
      opacity: 1;
      transition: all 0.2s;

      .main-menu__link--sub {
        color: clr(primary);
        &.active,
        &:active,
        &:hover {
          color: clr(primary);
        }
      }
    }
  }

  /* See main-menu.js */
  &-open {
    height: auto;
  }
}

.main-menu--sub-2 {
  display: block;
}
