// Frequently Asked Questions
//
// Markup: components.faq.hbs
//
// Style guide: components.faq

.node-type-faqs {
  fieldset {
    margin-bottom: 1rem;

    /**
     * adds background img and color to
     * questions.
     */
    &.collapsible.collapsed legend {
      display: block;
      width: 100%;
      padding: 0.8rem 0.5rem 0.8rem 0;
      background: color(gray-gallery-light) url(../assets/dist/images/dropdown-bg.png) 98% 50% no-repeat;
    }

    /**
     * reverses bg image when question is open.
     */
    &.collapsible legend {
      width: 100%;
      display: block;
      padding: 0.8rem 0.5rem 0.8rem 0;
      background: color(gray-gallery-light) url(../assets/dist/images/dropdown-bg-up.png) 98% 50% no-repeat;
    }

    a {
      display: inline-block;
      border: none;
      text-decoration: underline;

      &:hover {
        text-decoration: underline;
      }

      &:focus,
      &:active {
        outline: 3px solid darken(color(blue-botticelli), 4%);
      }
    }
  }

  /**
   * removes top margin on answers text.
   */
  .field--name-field-faq-answer {
    p {
      margin-top: 0;
      padding: 0 0.8rem;
    }
  }

  /**
   * overrides faq module's legacy styles.
   */
  .collapsed .fieldset-legend,
  .collapsible .fieldset-legend {
    background-image: none !important;
    background: none;
  }

  /**
   * overrides faq module's legacy styles.
   */
  fieldset.collapsed {
    height: inherit !important;
  }

  .summary {
    display: none;
  }
}

.field--name-field-faq-questions {
  .field__item {
    display: block;
  }
}
