<fieldset class="collapsible form-wrapper collapse-processed">
  <div class="field--name-field-faq-question">
    <a href="" ref="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
  </div>
  <div class="field--name-field-faq-answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fugiat neque tempora beatae illum iusto, non quaerat nihil praesentium dolorum tenetur aliquid ipsa nemo unde assumenda tempore. Accusamus, consequuntur</div>
</fieldset>

<fieldset class="collapsible form-wrapper collapse-processed">
  <div class="field--name-field-faq-question"><a href="" ref="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></div>
  <div class="field--name-field-faq-answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fugiat neque tempora beatae illum iusto, non quaerat nihil praesentium dolorum tenetur aliquid ipsa nemo unde assumenda tempore. Accusamus, consequuntur</div>
</fieldset>

<fieldset class="collapsible form-wrapper collapse-processed">
  <div class="field--name-field-faq-question"><a href="" ref="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></div>
  <div class="field--name-field-faq-answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fugiat neque tempora beatae illum iusto, non quaerat nihil praesentium dolorum tenetur aliquid ipsa nemo unde assumenda tempore. Accusamus, consequuntur</div>
</fieldset>
