/** fuck you **/

@tailwind base;
@tailwind components;
@tailwind utilities;

$fa-font-path: '../fonts/webfonts';
@import './scss/fontawesome/fontawesome.scss';


@layer base {
  @import "./fonts";
  /* Pattern Lab specific */
  @import "./pattern-scaffolding";
  @import "../_patterns/atoms/text/headings/headings";

  /* Completely remove from the flow but leave available to screen readers. */
  .is-vishidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
  }

  .clearfix {
    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
  }
}

@layer components {
  /* Atoms */
  @import "../_patterns/atoms/global/animations/animations";
  @import "../_patterns/atoms/buttons/buttons";


  /* Entities */
  @import '../_patterns/node/always-in-my-heart/always-in-my-heart';
}

/* Molecules */
@import '../_patterns/molecules/regions/accessibility-bar/accessibility-bar';

@import '../_patterns/molecules/navigation/tabs/tabs';
@import '../_patterns/molecules/navigation/breadcrumbs/breadcrumbs';
@import '../_patterns/molecules/navigation/primary-nav/primary-nav';

@import '../_patterns/paragraphs/paragraphs--global';
@import '../_patterns/paragraphs/paragraph-50/paragraph-50';
@import '../_patterns/paragraphs/paragraph-full/paragraph-full';
@import '../_patterns/paragraphs/paragraph-text/paragraph-text';

@import '../_patterns/organisms/global/header/header';
@import '../_patterns/organisms/global/footer/_footer.scss';
