.main--front .view--always_in_my_heart {
  @include wrapper;
  text-align: center;
  margin-bottom: 2rem;
  .field--paragraph--field_description {
    max-width: 50%;
    margin: 0 auto 1rem;
  }
}

.view__aimh-teaser {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;

  &__label {
    margin-bottom: 0;
  }

  &__header {
    max-width: 50%;
    margin: 0 auto;
    p {
      margin: 0;
    }
  }

  &__content {
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;

      li {
        margin: 0 auto;
        margin-top: 1rem;
        max-width: 220px;
      }

      @include small {
        flex-direction: row;
        li {
          width: 20%;
          margin-top: 0;
        }
      }

    }

    margin-bottom: 2rem;
  }
}
