<div class="view__aimh-teaser">
  {% include "@atoms/text/headings/_heading.twig" with {
    "heading_level": 2,
    "heading": label,
    "heading_base_class": "view__aimh-teaser__label",
  } %}
  <div class="view__aimh-teaser__header">
    {{ heading }}
  </div>
  <div class="view__aimh-teaser__content">
    <ul>
    {% for item in items %}
      <li>
        {% include "@molecules/aimh-card/aimh-card.twig" with {
          "field_image": item.field_image,
          "label": item.label,
        } %}
      </li>
    {% endfor %}
    </ul>
  </div>
  <div class="view-footer">
    {{ footer }}
  </div>
</div>
