<!-- Begin .header -->
<header class="header cf" role="banner">
	<div class="accessibility-bar l-accessibility-bar">
    {#page.accessibility_bar#}
    <div class="donate-block header__donate">
      {#page.donate#}
    </div>
  </div>
	<a href="#search-form" class="nav-toggle nav-toggle-search icon-search"><span class="is-vishidden">Search</span></a>
	<a href="#nav" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>
	<div class='l-branding'>
		{% include "@atoms/images/logo.twig" %}
		{% include "@molecules/navigation/primary-nav/primary-nav.twig" %}
	</div>
	{% include "@molecules/forms/search.twig" %}
</header>
<!-- End .header -->
