// Breadcrumb
//
// This is the breadcrumb styling for GM site.
//
// Markup:
// <ul class="breadcrumb"><li>Home</li><li><a href="/">About</a></li><li><a href="/">More</a></li></ul>
//

.breadcrumbs {
  width: 100%;
  position: relative;
  z-index: 8;
  @apply flex p-0 mt-0 mx-0 mb-4 list-none text-sm;

  li {
    padding-right: 5px;
    float: left;

    /* Add the angle quotation mark between each list item. */
    + li:before {
      content: '\00bb';
      padding-right: 5px;
    }
  }

  a {
    @apply text-blue-chill;
  }
}
