<ul class="breadcrumbs">
{% for item in breadcrumbs %}
	<li>
		{% if loop.last %}
			{{item.title}} <div
		{% else %}
			<a href="{{ item.url }}">{{item.title}}</a>
		{% endif %}
	</li>
{% endfor %}
</ul>
