// Donate Button in Header
//
// Style guide: components.donate-button

.header__donate {
  font-weight: bold;

  .donate-message {
    display: none;
  }

  .btn-donate {
    background-color: #FFCC33;
    padding: 3px 5px;
    border-radius: 3px;
    color: color(blue-chill);
    display: inline-block;
    margin: 10px 5px 0;
    text-decoration: none;
    text-align: center;
    z-index: 999999;
    float: right;
    font-size: .75em;
    border: solid 1px transparent;
    position: absolute;
    right: 2px;
    top: 42px;

    &:after {
      content: ' >';
      font-size: 1.1em;
    }

    &:focus,
    &:hover {
      border: solid 1px color(blue-chill);
    }
  }

  @include breakpoint($bp-medium) {

    .donate-message {
      display: inline;
    }

    .btn-donate {
      font-size: 1em;
      float: none;
      margin: 4px 0 0 10px;
      position: relative;
      top: unset;
      right: unset;
    }
  }
}
