<ul class="sg-colors">
	<li>
		<span class="sg-swatch bg-white"></span>
		<span class="sg-label">White</span>
	</li>
	<li>
		<span class="sg-swatch bg-black"></span>
		<span class="sg-label">Black</span>
	</li>
	<li>
		<span class="sg-swatch bg-gray-tundora"></span>
		<span class="sg-label">Gray Tundra</span>
	</li>
	<li>
		<span class="sg-swatch bg-gray-gallery"></span>
		<span class="sg-label">Gray Gallery</span>
	</li>
	<li>
		<span class="sg-swatch bg-gray-gallery-light"></span>
		<span class="sg-label">Gray Gallery Light</span>
	</li>
	<li>
		<span class="sg-swatch bg-blue-chill"></span>
		<span class="sg-label">Blue Chill</span>
	</li>
	<li>
		<span class="sg-swatch bg-blue-botticelli"></span>
		<span class="sg-label">Blue Botticelli</span>
	</li>
	<li>
		<span class="sg-swatch bg-aliceblue"></span>
		<span class="sg-label">Alice Blue</span>
	</li>
	<li>
		<span class="sg-swatch bg-burnt-sienna"></span>
		<span class="sg-label">Burnt Sienna</span>
	</li>
	<li>
		<span class="sg-swatch bg-sunglow"></span>
		<span class="sg-label">Sunglow</span>
	</li>
	<li>
		<span class="sg-swatch bg-daffodil"></span>
		<span class="sg-label">Daffodil</span>
	</li>
	<li>
		<span class="sg-swatch bg-yellow"></span>
		<span class="sg-label">Yellow</span>
	</li>
</ul>
