<div class="aimh__view-block">

  {% for item in items %}
    <div class="views-row">
      {% include "@node/always-in-my-heart/teaser/always-in-my-heart--teaser.twig" with {
        field_heart_image: item.field_heart_image,
        field_heart_dogs_name: item.field_heart_dogs_name
      } only %}
    </div>
  {% endfor %}
</div>
