<div {{ attributes|without('class')}} class="program-card">
  <div class="program-card__image">
    {{ content.field_media_image }}
  </div>
  <div class="program-card__label">
    {{ content.field_caption }}
  </div>
</div>
