<div class="accessibility-bar">
  <div id="block-gm-accessibility-accessibility" class="block block--gm-accessibility block--gm-accessibility-accessibility">
    <div class="block__content">
      <button id="dyslexia" class="dyslexic-font" role="checkbox" aria-checked="false">Dyslexia</button><button id="contrast" class="contrast-colors" role="checkbox" aria-checked="false">Contrast</button>
    </div>
  </div>
  <div id="block-text-resize-0" class="block block--text-resize block--text-resize-0">
    <div class="block__content">
      <a href="javascript:;" class="changer" id="text_resize_decrease" role="radio" aria-checked="false"><sup>-</sup>A<span class="element-invisible"> Decrease text size</span></a>
      <a href="javascript:;" class="changer" id="text_resize_reset" role="radio" aria-checked="false">A<span class="element-invisible"> Reset text size</span></a>
      <a href="javascript:;" class="changer" id="text_resize_increase" role="radio" aria-checked="false"><sup>+</sup>A<span class="element-invisible"> Increase text size</span></a>
      <div id="text_resize_clear"></div>
    </div>
  </div>
  <div class="header__donate">
    <span class="donate-message">Make a difference!</span>
    <a href="https://greymuzzle.z2systems.com/donation.jsp?campaign=66&amp;" class="button button--donate">Donate Now <span class="element-invisible"> We regret that this link leads to an inaccessible third party page. Please contact us for assistance.</span></a>
  </div>
</div>
