// Programs we support
//
// Markup: components.programs-we-support.hbs
//
// Style guide: components.programs-we-support

.l-support {
  @include clearfix;
  background: color(blue-botticelli);

  .pane-title,
  .field--name-field-small-text-long {
    text-align: center;
  }

  .pane-title {
    @include font-size(35px);
    margin-bottom: 0;
  }

  .field--name-field-small-text-long {
    @include font-size(25px);
  }

  .field--name-field-icon {
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin: 0 auto;
    max-width: 300px;

    @include breakpoint($bp-small) {
      max-width: 600px;
    }

    @include breakpoint($bp-large) {
      max-width: 100%;
    }
  }

  .field--name-field-icon .field__items {
    @include font-size(14px);
    line-height: 1.4;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @include breakpoint($bp-large) {
      justify-content: space-between;
    }

    figure {
      margin: 0;
    }

    p {
      text-align: center;
    }
  }

  .field__item {
    flex: 0 0  128px;
  }
}