.aimh--teaser {
  width: 220px;
  margin: 0 auto;
  max-width: 220px;
  margin-bottom: 30px;
  @apply flex flex-col;
}

.aimh--wrapper {
  @apply container mx-auto flex-col md:flex-row;
}

.aimh__image {
  @apply w-full;
}
.aimh__dog-name {
  @apply bg-blue-alice p-2 text-lg text-black font-bold text-center;
}
.aimh__donor {
  @apply text-black hidden;
}
.aimh__donor-name {
  @apply font-bold;
}
.aimh__donor-text {
  @apply bg-sunglow;
}

.aimh__view-block {
  display: flex;
  justify-content: center;

  .views-row {
    @apply mx-4;
  }

}
