// Your Gift
//
// Style guide: components.your-gift

.l-your-gift {
  @include clearfix;
  margin: 0 auto;
  padding: 20px;

  @include breakpoint($bp-small) {
    max-width: 600px;
  }

  @include breakpoint($bp-medium) {
    max-width: 800px;
  }

  @include breakpoint($bp-large) {
    max-width: 1055px;
  }

  h2 {
    margin-bottom: -8px;
    width: 100%;
    padding-left: 0;
    text-align: center;

    @include breakpoint($bp-medium) {
      width: 48%;
      padding-left: 4%;
      text-align: right;
    }
  }

  .left {
    width: 100%;
    float: left;
    text-align: center;

    @include breakpoint($bp-medium) {
      width: 48%;
      text-align: right;
    }
  }

  img.right {
    position: relative;
    border: 1px solid color(black);
    margin: 0 auto;
    width: 100%;
    margin-bottom: 30px;

    @include breakpoint($bp-medium) {
      width: 49%;
      float: right;
      position: relative;
      top: 0;
      right: 0;
      margin-top: -52px;
    }
  }
}
