.prom-options {
  clear: both;
  @include breakpoint($bp-medium) {
    height: 400px;
  }
  input[type="radio"] {display:none;}
  .prom-option {
    width: 100%;
    margin: 0 10px;

    .form-item {
      width: 100%;
      @include breakpoint($bp-medium) {
        width: 20%;
        float: left;
        margin: 5px;
      }
    }
    label {
    }
    &:checked+label.option {
      .prom {
        box-shadow: 0 0 20px 0 rgba(6,119,153,1);
      }
    }
  }
}

.prom {
  width: 200px;
  margin: 5px auto;
  position: relative;
  .prom-image {
    img {
      width: 100%;
    }
  }
  .prom-caption {
    background-color: #f3f8fa;
    color: black;
    min-height: 150px;
    width: 100%;
    padding: 4px;
  }
}