.local-tasks-block {
  position: absolute;
  top: 0;
  left: 0;
}

.tabs__link,
.tabs__link--local-tasks {
  background-color: clr(tertiary);
  border: 1px solid clr(secondary);
  border-bottom: none;
  color: clr(text);
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1em 2.4em;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s;

  @include large {
    border-bottom: 1px solid clr(secondary);
    border-left: none;
    display: inline-block;
    font-size: 1rem;
    padding: .6rem .5rem;
    position: relative;
    top: 1px;
    width: 150px;
  }

  &:hover {
    background-color: clr(highlight-high);
    color: clr(accent);
  }

  &.is-active {
    background-color: clr(primary);
    border: 1px solid clr(secondary);
    color: clr(secondary);

    @include large {
      border-bottom: 1px solid clr(secondary);
      border-left: none;
    }
  }
}
