.social-menu {
  @include list-reset;

  display: flex;
  justify-content: flex-end;
  align-content: center;

  &__item {
    margin-bottom: $space-one-fourth;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    color: transparent;
    text-decoration: none;

    &::before {
      font-size: 1.25em;
      color: #444;
    }
  }

  &__list {
    width: 35px;
    margin: 0 0.5rem;
  }

  span {
    @include visually-hidden;
  }
}
