{# Set classes #}
{% set menu_class = 'social-menu' %}
{% set ul_base_class = menu_class %}
{% set ul_modifiers = menu_modifiers %}
{% set ul_blockname = menu_blockname %}

{# List #}
{% extends "@atoms/lists/ul.twig" %}
  {% block list_content %}
    {% for item in social_menu_items %}
      {% set extras = [
        'fa-brands',
        'fa-' ~ item.icon
      ] %}
      <li class="social-menu__list"><a {{ bem('item', [], menu_class, extras) }} href={{ item.url }}><span>{{ item.title }}</span></a></li>
    {% endfor %}
  {% endblock %}
