// Pager
//
// Markup: components.pager.hbs
//
// Style guide: components.pager

.pager {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;

  @include breakpoint($bp-small) {
    display: flex;
    justify-content: center;
  }

  a {
    font-weight: normal;
    color: color(blue-chill);
    text-decoration: none;
    border: none;
  }

  .pager-item a,
  .pager-item,
  .pager-next,
  .pager-previous,
  .pager-last,
  .pager-first {
    background: none;
    color: color(blue-chill);
    text-decoration: underline;
    padding: 0.5em 0.2em;
    max-height: 40px;
    border: none;
  }

  .pager-current,
  .pager-current a {
    padding: 0.2rem 0.4rem;
    background: color(blue-chill);
    color: color(white);
    margin: 0.3em;
    text-decoration: none;
    max-height: 28px;
  }
}
