// Default breakpoints
$bp-x-small: 25em; // 400px
$bp-small: 33em; // 528px
$bp-medium: 46em; // 736px
$bp-med-large: 53em; // 848px
$bp-large: 60em; // 960px
$bp-largest: 70em; // 1120px
$bp-huge: 90em; // 1440px
