/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
@mixin clearfix {
  &:before,
  &:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }

  &:after {
      clear: both;
  }
}

// set a rem font size with pixel fallback
@function calculateEm($size) {
  $emSize: $size / 16px;
  @return $emSize * 1em;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateEm($size);
}

// visually hide something.
// accessible alternative to display: none.
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin visuallyhiden {
  position: absolute !important;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
}

/*
 * Hide visually and from screen readers:
 */

@mixin hidden {
    display: none !important;
}

/*
 * Extends the visuallyhidden to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
@mixin visuallyhidden-focusable {
  &:active,
  &:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * image replacement.
 */
@mixin image-replace($width, $height) {
  display: block;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  width: $width;
  height: $height;
}

// opacity mixin with filter fallback for IE
// example of usage:
// .article-heading {
//   @include opacity(0.8);
// }
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// text-fields placeholder
@mixin placeholder {
  input::-webkit-input-placeholder {
    @include font-size(11px);
    text-transform: uppercase;
    padding-top: 2px;
    color: color(gray-gallery);
  }

  input:-moz-placeholder {
    @include font-size(11px);
    text-transform: uppercase;
    padding-top: 2px;
    color: color(gray-gallery);
  }

  input::-moz-placeholder {
    @include font-size(11px);
    text-transform: uppercase;
    padding-top: 2px;
    color: color(gray-gallery);
  }

  input:-ms-input-placeholder {
    @include font-size(11px);
    text-transform: uppercase;
    padding-top: 2px;
    color: color(gray-gallery);
  }

  input:focus::-webkit-input-placeholder {
    color: transparent;
  }

  input:focus:-moz-placeholder {
    color: transparent;
  }

  input:focus::-moz-placeholder {
    color: transparent;
  }

  input:focus:-ms-input-placeholder {
    color: transparent;
  }
}

// default blue button with arguments to turn button bg and
// text to different colors
@mixin button($bg: color(blue-chill), $color: color(white)){
  @include font-size(14px);
  display: block;
  padding: 0.6rem 1.5rem;
  position: relative;
  background: $bg;
  border: none;
  color: $color;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

// default yellow button with arguments to turn button bg and
// text to different colors
@mixin button-donate($bg: color(sunglow), $color: color(white)){
  @include font-size(14px);
  display: block;
  padding: 0.8rem 1.5rem;
  position: relative;
  background: $bg;
  border: none;
  color: color(gray-tundora);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

// center align button with option for button width.
@mixin button-centered($width) {
  display: block;
  width: $width;
  margin: auto;
  white-space: nowrap;
}

// styles for page headings.
@mixin headings-border {
  border-bottom: 1px solid color(gray-gallery);
}

// float images on full node pages left or right
@mixin left {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

@mixin right {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}
