.text-card {
  padding: 1rem 0;
  margin-bottom: 1rem;

  &__wrapper {
    @include wrapper;
  }

  h2 {
    text-align: center;

    &.text-card__heading {
      @include heading-large;
    }
  }

  &__dark {
    background-color: clr(primary);
    color: white;
    text-shadow: 1px 1px clr(accent);

    a {
      color: white;
      text-shadow: none;
      text-decoration: underline;
    }
  }
  &__secondary {
    background-color: clr(secondary);
  }
  &__tertiary {
    background-color: clr(tertiary);
  }


}
