.text-card {
  padding: 1rem 0;
  &__wrapper {
    @include wrapper;
  }

  h2 {
    text-align: center;
  }

  &__secondary {
    background-color: clr(secondary);
  }
  &__tertiary {
    background-color: clr(tertiary);
  }


}
