<div class="text-card text-card__{{background}}">
  <div class="text-card__wrapper">
  {% include "@atoms/text/headings/_heading.twig" with {
    heading_level: 2,
    heading_base_class: 'heading',
    heading_blockname: 'text-card',
    heading: label,
  } %}
  <div class="text-card__text">
    {{ body }}
  </div>
  </div>
</div>
