<p>Colors defined in the tailwindcss config. Use the following classes to keep with the styleguide.</p>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch bg-white"></span>
		<span class="sg-label">white: '#fff'</span>
	<li>
		<span class="sg-swatch bg-black"></span>
		<span class="sg-label">black: '#000'</span>
	</li>
	<li>
		<span class="sg-swatch bg-gray-tundora"></span>
		<span class="sg-label">gray-tundora: '#444'</span>
	</li>
	<li>
		<span class="sg-swatch bg-gray-gallery"></span>
		<span class="sg-label">gray-gallery: '#ccc'</span>
	</li>
	<li>
		<span class="sg-swatch bg-gray-light"></span>
		<span class="sg-label">gray-light: '#eee'</span>
	</li>
	<li>
		<span class="sg-swatch bg-blue-chill"></span>
		<span class="sg-label">blue-chill: '#067799'</span>
	</li>
	<li>
		<span class="sg-swatch bg-blue-botticelli"></span>
		<span class="sg-label">blue-botticelli: '#cfe5eb'</span>
	</li>
	<li>
		<span class="sg-swatch bg-blue-alice"></span>
		<span class="sg-label">blue-alice: '#f3f8fa'</span>
	</li>
	<li>
		<span class="sg-swatch bg-sienna"></span>
		<span class="sg-label">sienna: '#f06667'</span>
	</li>
	<li>
		<span class="sg-swatch bg-sunglow"></span>
		<span class="sg-label">sunglow: '#ffcc33'</span>
	</li>
	<li>
		<span class="sg-swatch bg-daffodil"></span>
		<span class="sg-label">daffodil: '#fff5d6'</span>
	</li>
	<li>
		<span class="sg-swatch bg-yellow"></span>
		<span class="sg-label">yellow: '#ffff00'</span>
	</li>
</ul>
