.aimh {
  display: flex;
}

.aimh__donor-name {
  @apply font-bold text-lg pb-1 pt-0;
}

.aimh__dog-name {
  background: #cfe5eb;
  color: #444;
  @apply p-1 h-12 flex justify-center items-center text-lg text-center font-bold;
}

.aimh__donor {
  @apply px-2 w-1/2;
}
