// Our Mission
//
// Style guide: components.our-mission

// Bed Fund front page
.l-mission {
  @include clearfix;
  margin: 0 auto;
  padding: 20px 20px 50px;
  position: relative;

  @include breakpoint($bp-small) {
    max-width: 600px;
  }

  @include breakpoint($bp-medium) {
    max-width: 800px;
  }

  @include breakpoint($bp-large) {
    max-width: 1055px;
  }

  h2 {
    margin-bottom: -20px;
    padding-right: 0;
    text-align: center;
    clear:both;

    @include breakpoint($bp-medium) {
      padding-left: 52%;
      text-align: left;
      margin-bottom: -34px;
    }
  }

  .featured {
    h2 {
      margin-bottom: 0;
      text-align: center;
      padding-left: 0;
    }
    img {
      margin: 0 5px;
    }
    clear:both;
    line-height: 1.6;
  }

  .right {
    width: 100%;
    float: right;
    text-align: center;
    @include breakpoint($bp-medium) {
      width: 48%;
      text-align: left;
    }
  }

  .media-youtube-video {
    position: relative;
    border: 1px solid color(black);
    margin: 0 auto;
    width: 100%;
    margin-bottom: 30px;
    clear: both;

    @include breakpoint($bp-medium) {
      width: 49%;
      float: left;
      position: relative;
      top: 0;
      right: 0;
      margin-top: 25px;
      clear: none;
    }

    iframe {
      min-height: 310px;
      height: auto;

      @include breakpoint($bp-medium) {
        min-height: 250px;
      }
    }
  }

  .transcript {
    position: absolute;
    left: 20px;
    font-size: 0.75em;
    bottom: 50px;

    @include breakpoint($bp-medium) {
      bottom: -260px;
      position: relative;
      left: 0;
    }
  }
}
