// Bed Fund
//
// Markup: components.bed-fund.hbs
//
// Style guide: components.bed-fund

// Bed Fund front page
.l-bed-fund {
  @include clearfix;
  margin: 0 auto;
  padding: 20px;

  @include breakpoint($bp-small) {
    max-width: 600px;
  }

  @include breakpoint($bp-medium) {
    max-width: 800px;
  }

  @include breakpoint($bp-large) {
    max-width: 1055px;
  }

  h2 {
    margin-bottom: -8px;
    padding-right: 0;
    text-align: center;

    @include breakpoint($bp-medium) {
      padding-left: 52%;
      text-align: left;
    }
  }

  .right {
    width: 100%;
    float: right;
    text-align: center;

    @include breakpoint($bp-medium) {
      width: 48%;
      text-align: left;
    }
  }

  img.left {
    position: relative;
    border: 1px solid color(black);
    margin: 0 auto;
    width: 100%;
    margin-bottom: 30px;

    @include breakpoint($bp-medium) {
      width: 49%;
      float: left;
      position: relative;
      top: 0;
      right: 0;
      margin-top: -20px;
    }
  }
}

// Bed Fund sidebar
.l-sidebar-second {
  .bed-fund__image,
  .bed-fund__text {
    float: none;
    width: 100%;
    display: inherit;
  }

  .bed-fund__image {
    padding: 0;
    margin-bottom: 0;
    border: none;
  }

  .pane-title {
    padding-top: 20px;
    margin-bottom: 0;
    border: none;
  }
}
