<div class="l-bed-fund">
  <div class="bed-fund__image">
    <img src="http://placehold.it/300x150" alt="Same Image">
  </div>
  <div class="bed-fund__text">
    <h2 class="pane-title view__heading">Bed Fund</h2>
    <p>In the past 6 years, with your help, we have donated over ,000 worth of orthopedic beds to more than 100 shelters around the country to help dogs like Booty (below) get off the concrete floors.</p>
    <a href="#" class="button button__donate">Donate a bed</a>
  </div>
</div>
