<!-- ======================================== -->
<!-- leadership -->
<!-- ======================================== -->
<div class="whoweare__wrapper leadership">
  <h2 class="view__heading">Leadership</h2>
  <div class="list__row">
    <div class="media-wrapper">
      <div class="media--image">
        <img src="http://placehold.it/400x300" alt="Sample Image">
      </div>
    </div>
    <!-- /media-wrapper -->

    <div class="bio-wrapper">
      <h3 class="bio--name">Lisa Lunghofer</h3>
      <h4 class="bio--title">Executive Director</h4>
      <div class="bio--text">
        <p>Lisa Lunghofer, Ph.D., is the Executive Director for The Grey Muzzle Organization. She is also Executive Director of Making Good Work and has 20 years of experience working with public sector and nonprofit clients, helping them to create strategic plans, develop logic models, write winning grant proposals, build successful programs, develop evaluation plans, and track outcomes. She has worked extensively in the areas of animal welfare, the human-animal bond, violence prevention, and child and family well-being.  <a href="#">Read full bio</a></p>
      </div>
      <div class="bio--url">
        <a href="#">Lisa's personal website</a>
      </div>
    </div>
    <!-- /bio-wrapper -->

  </div>
  <!-- /end of list__row -->
</div>
<!-- /end of whoweare__wrapper -->


<!-- ======================================== -->
<!-- advisory board -->
<!-- ======================================== -->
<div class="whoweare__wrapper advisory-board">
  <h2 class="view__heading">Advisory Board</h2>
    <div class="list__item">
      <div class="media-wrapper">
        <div class="media--image">
          <img src="http://placehold.it/300x200" alt="Sample Image">
        </div>
      </div>
      <!-- /media-wrapper -->

      <div class="bio-wrapper">
        <h3 class="bio--name">Lisa Lunghofer</h3>
        <div class="bio--text">
          <p>Lisa Lunghofer, Ph.D., is the Executive Director for The Grey Muzzle Organization. She is also Executive Director of Making Good Work and has 20 years of experience working with public sector and nonprofit clients, ...</p>
        </div>
        <div class="bio--url">
          <a href="#">Lisa's personal website</a>
        </div>
      </div>
      <!-- /bio-wrapper -->
    </div>

    <div class="list__item">
      <div class="media-wrapper">
        <div class="media--image">
          <img src="http://placehold.it/300x200" alt="Sample Image">
        </div>
      </div>
      <!-- /media-wrapper -->

      <div class="bio-wrapper">
        <h3 class="bio--name">Lisa Lunghofer</h3>
        <div class="bio--text">
          <p>Lisa Lunghofer, Ph.D., is the Executive Director for The Grey Muzzle Organization. She is also Executive Director of Making Good Work and has 20 years of experience working with public sector and nonprofit clients, ...</p>
        </div>
        <div class="bio--url">
          <a href="#">Lisa's personal website</a>
        </div>
      </div>
      <!-- /bio-wrapper -->
    </div>


    <div class="list__item">
      <div class="media-wrapper">
        <div class="media--image">
          <img src="http://placehold.it/300x200" alt="Sample Image">
        </div>
      </div>
      <!-- /media-wrapper -->

      <div class="bio-wrapper">
        <h3 class="bio--name">Lisa Lunghofer</h3>
        <div class="bio--text">
          <p>Lisa Lunghofer, Ph.D., is the Executive Director for The Grey Muzzle Organization. She is also Executive Director of Making Good Work and has 20 years of experience working with public sector and nonprofit clients, ...</p>
        </div>
        <div class="bio--url">
          <a href="#">Lisa's personal website</a>
        </div>
      </div>
      <!-- /bio-wrapper -->
    </div>
  <!-- /end of list_item -->
</div>
<!-- /end of whoweare__wrapper -->
