
/** storybook container **/
#story--molecules-program-item--program-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: clr(secondary);
  padding: 2rem;
}
.program {
  flex: 0 0 128px;
  max-width: 128px;

  div {
    text-align: center;
  }
}
