.teaser {
  display: flex;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid clr(muted);

  &__media {
    margin-right: 2rem;
  }

  &__content {
    flex: 1;
    a {
      @extend .link;
    }
    h3 {
      font-size: 1.25rem;
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
    h4 {
      font-weight: 700;
      margin-top: 0;
      margin-bottom: .5rem
    }
  }


 }
