<nav class="navigation js-navigation">
  <ul class="navigation__list">
    <li><a href="/about-us" class="navigation__link-item">About Us</a></li>
    <li><a href="/how-to-help" class="navigation__link-item">How to Help</a></li>
    <li><a href="/grants" class="navigation__link-item">Grants</a></li>
    <li><a href="/news" class="navigation__link-item">News</a></li>
    <li><a href="/resources" class="navigation__link-item">Resources</a></li>
    <li><a href="/blog" class="navigation__link-item">Blog</a></li>
    <li><a href="/contact-us" class="navigation__link-item">Contact Us</a></li>
  </ul>
</nav>
