.media-card {
  @include wrapper;

  display: flex;
  align-items:flex-start;
  flex-direction: row;
  margin-bottom: 2rem;

  &--right {
    flex-direction: row-reverse;
  }
}

.media-card__media {
  min-width: 440px;

  .media-youtube-video {
    iframe {
      max-width: 100%;
      max-height: 250px;
    }
  }
}

.media-card__content {
  text-align: left;
  margin-right: 0;
  margin-left: 2rem;

  &--right {
    text-align: right;
    margin-right: 2rem;
    margin-left: 0;
  }
}
.media-card__title {
  margin-top: 0;
  margin-bottom: .5rem;

  @include heading-large;
}

.media-card__cta {
  margin-top: 1rem;

  a {
    @include button-base;
    @include button-color-secondary;
    @include button-medium;

    text-decoration: none;
  }
}
