// Meet the dogs
//
// Markup: components.meet-the-dogs.hbs
//
// Style guide: components.meet-the-dogs

.view__heading {
  border-bottom: 1px solid #ccc;
}

.view-meet-the-dogs {
  .view-content {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
  }

  .meet-the-dogs-item {
    flex: 0 0 225px;
    margin: 0 10px 3rem;
  }
}

.meet-the-dogs-item {
  margin-bottom: 4rem;
  position: relative;

  /**
   * allows for absolute position of
   * photo credit field.
   */
  .media--image {
    position: relative;
  }

  .view__list-item.third {
    margin-right: 0;
  }

  .view__list-item.first {
    margin-left: 0;
  }

  .bio__name {
    margin-top: 0;
    margin-bottom: 0;
  }

  .how-we-helped {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
  }
}

/**
 * theming of deceased icons.
 */
.deceased {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  background: url(../assets/dist/images/remember-icon.png) 0 0 no-repeat;
  color: transparent;
  top: 165px;
  left: 6px;
  z-index: 1;

  @include breakpoint($bp-medium) {
    top: 160px;
  }
}

.is-deceased {
  @include font-size(10px);
  display: block;
  clear: both;
  height: 25px;
  line-height: 18px;
  padding-top: 3px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  text-indent: 20px;
  color: color(gray-tundora);
  background: url(../assets/dist/images/remember-icon-small.png) 0 40% no-repeat;

  @include breakpoint($bp-small) {
    margin-left: 340px;
    clear: none;
  }
}

.field--name-field-meet-how-we-helped,
.field--name-field-meet-organization {
  clear: none;
  float: none;
  margin-bottom: 12px;
  width: 100%;
}

/**
 * full node styles.
 */
.node-type-meet-the-dogs {
  .field--name-field-meet-main-image {
    margin: 0 auto;
    max-width: 320px;
    float: none;

    @include breakpoint($bp-small) {
      @include left;

      img {
        min-width: 320px;
      }
    }
  }
}

/**
 * Aligns label and accompanying text inline.
 */
.field--name-field-meet-how-we-helped,
.field--name-field-meet-organization {
  display: block;

  .field__label,
  .field__items,
  .field__item {
    display: inline;
  }
}
