<!-- ======================================== -->
<!-- meet the dogs -->
<!-- ======================================== -->
<div class="meet-the-dogs--wrapper">
  <h2 class="view__heading">Meet the Dogs</h2>
    <div class="view-content">
      <div class="list__item">
        <div class="media-wrapper">
          <div class="media--image">
            <img src="http://placehold.it/300x200" alt="Sample Image">
          </div>
        </div>
        <!-- /whoweare__media-wrapper -->

        <div class="bio-wrapper">
          <h3 class="bio__name">Bella</h3>
          <div class="dog__date">April 7, 2015</div>
          <h4 class="how-we-helped">How we helped</h4>
          <div class="how-we-helped__text">
            Medical expense grant for adoptable dogs.
          </div>
          <div class="bio--text">
            <p>Meet bicontinental Bella, a sweet old girl having the time of her life with her new family, thanks to the rescue efforts of Animal Rescue of New Orleans and a grant from The Grey Muzzle Organization.  <a href="#">Read more</a></p>
          </div>
        </div>
        <!-- /whoweare__bio-wrapper -->
      </div>
      <!-- /end of meet-the-dogs__piece first -->


      <div class="list__item">
        <div class="media-wrapper">
          <div class="media--image">
            <img src="http://placehold.it/300x200" alt="Sample Image">
          </div>
        </div>
        <!-- /whoweare__media-wrapper -->

        <div class="bio-wrapper">
          <h3 class="bio__name">Bella</h3>
          <div class="dog__date">April 7, 2015</div>
          <h4 class="how-we-helped">How we helped</h4>
          <div class="how-we-helped__text">
            Medical expense grant for adoptable dogs.
          </div>
          <div class="bio--text">
            <p>Meet bicontinental Bella, a sweet old girl having the time of her life with her new family, thanks to the rescue efforts of Animal Rescue of New Orleans and a grant from The Grey Muzzle Organization.  <a href="#">Read more</a></p>
          </div>
        </div>
        <!-- /whoweare__bio-wrapper -->
      </div>
      <!-- /end of meet-the-dogs__piece first -->


      <div class="list__item">
        <div class="media-wrapper">
          <div class="media--image">
            <img src="http://placehold.it/300x200" alt="Sample Image">
          </div>
        </div>
        <!-- /whoweare__media-wrapper -->

        <div class="bio-wrapper">
          <h3 class="bio__name">Bella</h3>
          <div class="dog__date">April 7, 2015</div>
          <h4 class="how-we-helped">How we helped</h4>
          <div class="how-we-helped__text">
            Medical expense grant for adoptable dogs.
          </div>
          <div class="bio--text">
            <p>Meet bicontinental Bella, a sweet old girl having the time of her life with her new family, thanks to the rescue efforts of Animal Rescue of New Orleans and a grant from The Grey Muzzle Organization.  <a href="#">Read more</a></p>
          </div>
        </div>
        <!-- /whoweare__bio-wrapper -->
      </div>
      <!-- /end of meet-the-dogs__piece first -->
    </div>
    <!-- /end of view__row -->
</div>
<!-- /end of meet-the-dogs__wrapper -->
