// Footer
//
// Markup: components.footer.hbs
//
// Style guide: components.footer

.footer {
  display: flex;
  min-height: 100px;
  padding: 0 1rem 1.5rem;
  overflow: hidden;
  @apply bg-gray-tundora;

  a {
    border: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .panel-col div {
    display: flex;
    flex-flow: column nowrap;
    @apply lg:flex-row lg:flex-wrap;

  }
}

.l-region--footer {
  width: 100%;
  max-width: 1200px;
  float: none;
  margin: 0 auto;
  margin-top: 26px;
}

.footer__legal {
  display: flex;
  align-items: center;
  flex: 1 1 40%;
  margin-bottom: 1rem;
  justify-content: center;
  @apply lg:mb-0 lg:float-left lg:mt-3;

  .legal__link-item {
    text-decoration: underline;
    @apply text-white text-sm lg:text-base;

    &:hover {
      text-decoration: underline;
    }

  }
}

.footer__donate {
  text-align: center;
  flex: 1 1 20%;
  margin-bottom: 1rem;
  @apply lg:mb-0 lg:mx-auto lg:w-1/2;
}

.footer__social,
.footer__social div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 33%;
  margin-bottom: 1rem;
  @apply lg:mb-0 lg:justify-end lg:mt-0;

}

.legal__links {
  display: flex;
  list-style: none;
}

.legal__link-item {
  text-decoration: none;
  padding: 0.5rem 1rem;
  @apply text-gray-gallery;
}

/**
 * styles knowbility logo.
 */
.footer-bottom {
  margin: 1rem auto 0;
  max-width: 375px;
  @apply lg:w-full;

}
