.tabs {

	ul {
		display: flex;
		width: 100%;
	}

	li {
		display: table-cell;
		text-align: center;
		@apply border-gray-light border-r-2;

		&:last-child {
			border-right: 0;
		}
	}

	a {
		display: block;
		@apply bg-gray-light p-2;

		&:hover, &:focus {
			@apply bg-gray-gallery;
		}

		&.is-active {
			@apply bg-gray-tundora text-white;
		}
	}
}
