// Blog
//
// Style guide: components.blog

.view-v-blogs {

  img {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0.4rem 0;
    margin-right: 1rem;
    text-align: right;
    max-width: 160px;
    float: left;
  }

  .view-content {
    margin-bottom: -40px;

    > .views-row {
      margin-bottom: 40px;
    }
  }

  .feed-icon {
    display: none;
  }
}

.rss {
  position: absolute;
  border: none;
  margin-top: -74px;
  right: 148px;

  img {
    max-height: 25px;
    max-width: 24px;
  }
}

.node-type-blog  {

  .field--name-field-image {
    margin: 0 auto;
    float: none;
    max-width: 520px;
  }

  #comments {
    margin: 1.5rem 0 0;
    padding: 2rem 0 0;
    border-top: 1px dashed color(gray-gallery);

    .comment__links {
      margin-bottom: 2.5rem;
    }

    > h2.comments__form-title {
      margin-bottom: 1.5rem;
    }
  }

/* Hides unused comment stylying */
  .permalink,
  .comment-add,
  .node__links .comment_forbidden {
    display: none;
  }
}

.pane-gm-icontact-newsletter {
  margin-bottom: 1.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px dashed color(gray-gallery);

  input#edit-email {
    max-width: 300px;
    float: left;
    margin-right: 15px;
    margin-top: 16px;
  }
}