.section-senior-spotlight-request-form {

  .webform-component-fieldset {
  }

  .webform-container-inline {
    display: flex;


    label {
      max-width: 250px;
      width: 40%;
      text-align: right;
    }
  }

}

.node--senior-spotlights {
  .field {
    margin: 4px 0;
  }
}

.field--name-field-ss-youtube {
  display: flex;
  justify-content: center;
}

.field--name-field-ss-dog-link {
  text-align: center;
  a {
    @include button();
    width: 50%;
    margin: 0 auto;
  }
}
 
.group-ss-display-group {
  margin-top: 5px;
}

.field--name-field-ss-photos {
  .field__items {
    display: flex;
    justify-content: center;
    .field__item {
      margin: 0 2px;
    }
  }
}

.view-senior-spotlight {
  .view-content {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
  }

  .senior-spotlights-item {
    flex: 0 0 225px;
    margin: 0 10px 3rem;
  }
}


.senior-spotlights-item {
  margin-bottom: 4rem;
  position: relative;

  /**
  * allows for absolute position of
  * photo credit field.
  */
  .media--image {
    position: relative;
    .ss--is-adopted {
      position: absolute;
      bottom: 0;
      text-align: center;
      color: red;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      font-size: 1.1rem;
      padding: 2px 0;
      font-weight: 400;
    }
  }

  .bio__name {
    margin-top: 0;
    margin-bottom: 0;
  }

}

