<div class="l-hero">
  <div class="pane-bundle-hero-image-for-home-page">
    <img src="http://placehold.it/1200x1125" alt="Hero Image">
  </div>

  <div class="field--name-field-hero-caption">
    <h1>Main hero title here</h1>
    <h2>Hero sub title goes in this area</h2>
  </div>
</div>
