// Select or Dropdown Lists
//
// Markup: base.select.hbs
//
// Style guide: base.select


// styles for select or dropdown lists
select {
  @include font-size(16px);
  padding: 0.4rem 2.5rem 0.4rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0;
  border-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f5f5f5 url(../assets/dist/images/dropdown-bg.png) calc(100% - 8px) 50% no-repeat;

  // removes IE 10/11 default dropdown img
  &::-ms-expand {
    display: none;
  }

  .lte-ie9 & {
    padding-right: 4px;
    background: none;
  }
}
