<select name="select" id="select">
<option value="All" selected="selected">Select one</option>
  <option value="Value 1">Value 1</option>
  <option value="Value 2">Value 2</option>
  <option value="Value 3">Value 3</option>
  option
</select>
