// Testimonial
//
// Style guide: components.testimonial


// Homepage block
.testimonial {
  @include clearfix;
  background: color(daffodil);
  color: color(gray-tundora);
  text-align: center;
  margin: 40px 0 0;
  padding-bottom: 25px;

  h3 {
    @include font-size(28px);
    margin: 35px 17% 0;
    position: relative;
    z-index: 1;
    font-weight: 100;
  }

  .wrapper p {
    @include font-size(20px);
    line-height: 1.5;
    width: 82%;
    margin: 0 auto 40px;
  }

  .fa-quote-left {
    display: block;
    color: #ffcc33;
    position: absolute;
    font-size: 78px;
    left: 13%;
    margin-top: 22px;
    z-index: 0;

    @include breakpoint($bp-huge) {
      display: none;
    }
  }

  .fa-quote-right {
    display: block;
    color: #ffcc33;
    position: absolute;
    font-size: 78px;
    right: 13%;
    margin-top: -60px;
    z-index: 0;

    @include breakpoint($bp-huge) {
      display: none;
    }
  }
}
