@mixin link {
  color: clr(primary);
  text-decoration: none;
  border-bottom: 2px solid clr(primary);

  &:hover {
    color: clr(accent);
    border-bottom: none;
  }
  &:focus {
    box-shadow: 0 0 4px 3px clr(primary);
  }
}

a {
  color: clr(primary);

  &:hover {
    color: clr(accent);
    border-bottom: none;
  }
  &:focus {
    box-shadow: 0 0 4px 3px clr(primary);
  }
}

.link {
  @include link;
}

.active {
  font-weight: bold;
}

.link--button {
  border-bottom: none;
  @include button-base;
  @include button-color-primary;
  @include button-medium;

  &--alt {
    border-bottom: none;
    @include button-base;
    @include button-color-secondary;
    @include button-medium;
  }

  &--donate {
    border-bottom: none;
    @include button-base;
    @include button-color-donate;
    @include button-medium;

    border-radius: 1rem;

    &:hover {
      border: 1px solid clr(primary);
    }
  }

  &--large {
    @include button-large;
  }
}
