

<article about="/grey-matters/adopting-senior-dog/shelter-dog-adoptions-pandemics-silver-lining" typeof="sioc:Item foaf:Document" role="article" class="node node--blog node--full node--blog--full node--full node--blog--full">
  <header>
    <span property="dc:title" content="Shelter Dog Adoptions: The Pandemic's Silver Lining" class="rdf-meta element-hidden"></span>
  </header>
  <div class="node__content node__content">
    <span class="a2a_kit a2a_target addtoany_list" id="" style="line-height: 16px;">
      <a class="a2a_button_twitter" target="_blank" href="/#twitter" rel="nofollow noopener"><span class="element-invisible">Twitter</span></a>
      <a class="a2a_button_facebook" target="_blank" href="/#facebook" rel="nofollow noopener"><span class="element-invisible">Facebook</span></a>
      <a class="a2a_button_google_plus"><span class="element-invisible">Google Plus</span></a>
      <a class="a2a_button_pinterest" target="_blank" href="/#pinterest" rel="nofollow noopener"><span class="element-invisible">Pinterest</span></a>
    </span>
    <script type="text/javascript">
      <!--//--><![CDATA[//><!--
      if(window.da2a)da2a.script_load();
      //--><!]]>
    </script>

    <div class="field field--name-field-image field--type-image field--label-hidden">
      <div class="field__items">
        <div class="field__item even">
          <figure id="file-5432" class="file file-image file-image-jpeg">
            <img typeof="foaf:Image" src="https://www.greymuzzle.org/sites/default/files/blogs/images/peace_of_mind_arnold.jpg" width="3271" height="2453" alt="Brown dog with adoption bandana" title="Adopt me!"
          </figure>
        </div>
      </div>
    </div>
    <div class="field field--name-body field--type-text-with-summary field--label-hidden">
      {{ field_body }}
    </div>
  </div>
</article>
