/*
 * General Layout
*/

$sidebar-width: 25%;
$gutter: $space;

/*
 * Layout Using Flexbox (IE11+).
 * Remove this and uncomment Grid code below to use CSS Grid.
*/

.main {

  @include large {
    display: flex;
    flex-direction: row-reverse;
    min-height: 60vh;
  }

  &--with-sidebar {
    @include wrapper;
  }

  &--no-sidebar {
    background-color: clr(background);
  }

  &--front {
    background-color: $white;
  }
}

.main-sidebar {
  margin-bottom: $space-double;

  @include large {
    order: 2;
    width: $sidebar-width;
    margin-top: 2rem;
    margin-bottom: 0;
  }
}

.main-content {
  width: 100%;

  &--with-sidebar {
    background-color: white;
    padding: 0 2rem;
  }

  &--no-sidebar {
    @include wrapper($max-width, $small, 0, 2rem);
    background-color: white;
  }

  @include large {
    &--with-sidebar {
      padding-top: 2rem;
      margin-left: $gutter;
      width: 75%;
    }
  }

  &--front {
    .a2a_kit {
      top: -2.5rem;
    }
  }

}

.a2a_kit {
  position: absolute;
  right: 0;
  top: -3.5rem;

  @media (max-width: $medium) {
    position: static;
    display: block;
    text-align: center;
    margin: 0.67em 0 1.5rem;
  }
}

.field {

  &--node--field_image {
    @include wrapper;
    text-align: center;
  }
}
