<div class="page-news">
  <div class="gm-icontact-join-form">
    <div class="form-item-email"><label for="">Email</label></div>
    <input type="text"><input value="Sign Up Now" type="submit"></input>
  </div>

  <div class="news--item-wrapper">
    <div class="media-wrapper">
      <img src="http://placehold.it/200x200" alt="Sample image">
    </div>
    <div class="news__item--wrapper">
      <h2 class="news__item--title">
        <a href="">Andy's Paw Prints gives back to The Grey Muzzle Organization</a>
      </h2>
      <div class="news__item--date">
        September 15 2015
      </div>
      <div class="news__item--teaser">
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>
      <div class="news__item--readmore">
        <a href="">Read more ></a>
      </div>
    </div>
  </div>

  <div class="news--item-wrapper">
    <div class="media-wrapper">
      <img src="http://placehold.it/200x200" alt="Sample image">
    </div>
    <div class="news__item--wrapper">
      <h2 class="news__item--title">
        <a href="">Andy's Paw Prints gives back to The Grey Muzzle Organization</a>
      </h2>
      <div class="news__item--date">
        September 15 2015
      </div>
      <div class="news__item--teaser">
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>
      <div class="news__item--readmore">
        <a href="">Read more ></a>
      </div>
    </div>
  </div>

  <div class="news--item-wrapper">
    <div class="media-wrapper">
      <img src="http://placehold.it/200x200" alt="Sample image">
    </div>
    <div class="news__item--wrapper">
      <h2 class="news__item--title">
        <a href="">Andy's Paw Prints gives back to The Grey Muzzle Organization</a>
      </h2>
      <div class="news__item--date">
        September 15 2015
      </div>
      <div class="news__item--teaser">
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>
      <div class="news__item--readmore">
        <a href="">Read more ></a>
      </div>
    </div>
  </div>
</div>
