.card__heading {
  @include heading-large($font-size: 1.3rem);
  @include no-bottom;

  &-link {
    @include link;
  }
}

.card__subheading {
  @include heading-medium($font-size: 1rem);
  @include no-bottom;

  color: clr(text);
}

.card__body {
  margin: 0.7em 0 1em;
}

.card__link {
  @include link;
}

.card__button {
  @include button-base;
  @include button-color-primary;
  @include button-medium;
}

/* Variations */
.card--bg {
  background-color: clr(highlight-high);
  padding: 1em;
}

.staff-card__card {
  width: 30%;
  margin: 0 .7rem 1rem;

  .card__heading {
    margin: 1rem 0;
    font-size: 1.1rem;
  }

  .field--body {
    padding: 0;
  }
}
