.side-menu-story {
  width: 250px;
  margin: 0 auto;
}

.side-menu {
  padding: 0;
  margin-top: 0;

  &__container {
    background: white;
    padding: 1rem 2rem;
  }

  &__heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: clr(text);
    margin-top: 0;
  }

  &__item {
    list-style: none;

    &--active {
      color: clr(primary);
      list-style-type: disc;
    }

    &--sub-1 {
      margin-left: 1rem;
    }
  }

  &__link {
    padding-left: 0;
    color: clr(primary);
    text-decoration: none;

    &--active {
      font-weight: bold;
    }

    &:active {
      font-weight: bold;
      text-decoration: underline;
    }

    &:hover {
      text-decoration: underline;
    }
  }
  &--contact {
    h3 {
      font-size: 1.25rem;
      font-weight: 700;
    }
  }
}
