<div class="side-menu__container">
  <h2 class="side-menu__heading">{{ menu_title }}</h2>
  {% include "@molecules/menus/_menu.twig" with {
    menu_class: 'side-menu',
    items: menu_items,
  } %}
</div>
