<div class="faq-questions">
  <input type="checkbox" id="{{ id }}">
  <label class="faq-questions__label" for="{{ id }}">{{ content.field_faq_question.0 }}</label>
  <div class="faq-questions__content">
    {{ content.field_faq_answer }}
  </div>
</div>
