.l-main-content a,
.node__content a,
.l-sidebar-second a {
  text-decoration: none;
  border-bottom: 2px solid color(blue-chill);

  &:hover,
  &:focus {
    border: none;
  }
}

/**
 * removes border from social media icons.
 */
a[class^="a2a_button_"],
a.social-link_youtube {
  border: none;
}
