/**
 * floats images to the left.
 */
.left,
.media-basic_page_320x240_left,
.media-basic_page_220x220_left {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

/**
 * floats images to the right.
 */
.right,
.media-basic_page_320x240_right,
.media-basic_page_220x220_right {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}
