.aimh-teaser {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 1rem;

  .donor-wrapper {
    flex: 1;
  }

  .media-wrapper {
    min-width: 220px;
    margin-right: 1rem;

    .dog-name {
      font-size: 1.125em;
      font-weight: bold;
      background: #cfe5eb;
      color: #444;
      text-align: center;
      padding: 1rem;
    }
  }
}
