.aimh-card {
  max-width: 250px;
}

.aimh-card__label {
  font-size: 18px;
  font-size: 1.125em;
  font-weight: bold;
  background: clr(secondary);
  color: clr(text);
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82px;
}

