
.senior-spotlight {

  &-teaser {
    flex: 0 0 220px;
    margin: 0 0 3rem;
    max-width: 220px;

    &__image {
      position: relative;
    }

    &__bio {
      .bio__name {
        margin-top: 0;
        margin-bottom: 0;
      }
      .bio__text {
        margin-top: 1rem;
      }
    }

    .ss--is-adopted {
      position: absolute;
      bottom: 0;
      text-align: center;
      color: red;
      width: 100%;
      background-color: rgba(0,0,0,0.3);
      font-size: 1.1rem;
      padding: 2px 0;
      font-weight: 400;
      z-index: 100;
    }
  }
}
