
.hero {
  color: $white;
  position: relative;
  text-shadow: 1px 1px $gray-tundora;
  margin-bottom: 1rem;

  &__media {
    img {
      width: 100vw;
      height: auto;
    }
  }

  .hero__caption {
    display: block;
    top: 23%;
    width: 100%;
    margin: auto;
    position: absolute;
    height: 60%;
    padding: 0 5%;
    background: rgba(0,0,0,0.3);
    max-width: 100%;

    @include breakpoint($small) {
      top: 20%;
      width: 100%;
      height: auto;
      padding: 20px 30px 10px;
    }

    @include breakpoint($medium) {
      top: 9%;
      left: 5%;
      width: 52%;
      max-width: 555px;
    }

    @include breakpoint($large) {
      top: 17%;
      width: 60%;
    }

    @include breakpoint($xl) {
      top: 19%;
      width: 54%;
    }
  }

  .hero__heading {
    margin-top: 4%;
    line-height: 1.2;

    @include breakpoint($small) {
      margin-top: 0;
      margin-bottom: -15px;
      max-width: 60% !important;
    }

    @include breakpoint($medium) {
      max-width: 100% !important;
    }

    @include breakpoint($large) {
      margin-bottom: -10px;
      margin-top: 10px;
      max-width: 100%;
    }
  }

  .hero__subheading {
    display: none;

    @include breakpoint($small) {
      display: block;
      font-weight: 100;
      margin-top: 20px;
      line-height: 1.3 !important;
    }

    @include breakpoint($medium) {
      line-height: 1.4 !important;
    }

    @include breakpoint($large) {
      line-height: 1.3 !important;
    }
  }
}

.field--name-field-hero-intro-caption {
  .hero-intro-caption--no-shadow & {
    background: none;
  }

  .hero-intro-caption--bottom-left & {
    top: inherit;
    bottom: 0;
    left: 0;
  }
}
