/**
 * grid styles for left sidebar landing pages.
 */
.panel-two-columns .l-panel__sidebar--first,
.panel-two-columns .l-panel__main {
  width: 100%;
  margin: 0;
  padding: 0;
}

/**
 * float regions on large screens.
 */
@include breakpoint($bp-large) {
  .panel-two-columns .l-panel__sidebar--first {
    @include grid-span(3, 1);
  }

  .panel-two-columns .l-panel__main {
    @include grid-span(9, 4);
  }
}

