<article about="/senior-spotlight/lil-pup" typeof="sioc:Item foaf:Document" role="article" class="node node--senior-spotlights node--full node--senior-spotlights--full node--full node--senior-spotlights--full">
  <header>
    <span property="dc:title" content="Lil Pup" class="rdf-meta element-hidden"></span>
  </header>
  <div class="node__content node__content">
    <div class="field field--name-field-ss-photos field--type-image field--label-hidden">
      <div class="field__items">
        <div class="field__item even">
          <a href="https://www.greymuzzle.org/sites/default/files/senior_spotllight/lilpupafter_ss.jpg" title="Lil Pup smiling" class="colorbox init-colorbox-processed cboxElement" data-colorbox-gallery="gallery-node-1858-y9oHDJODLoY" data-cbox-img-attrs="{&quot;title&quot;: &quot;Lil Pup smiling&quot;, &quot;alt&quot;: &quot;beagle mix smiling at the camera&quot;}">
            <img typeof="foaf:Image" src="https://www.greymuzzle.org/sites/default/files/styles/meet_the_dogs/public/senior_spotllight/lilpupafter_ss.jpg?itok=4dwDF7ey" width="250" height="220" alt="beagle mix smiling at the camera" title="Lil Pup smiling">
          </a>
        </div>
        <div class="field__item odd">
          <a href="https://www.greymuzzle.org/sites/default/files/senior_spotllight/lilpupbefore_ss.jpg" title="Lil Pup smiling" class="colorbox init-colorbox-processed cboxElement" data-colorbox-gallery="gallery-node-1858-y9oHDJODLoY" data-cbox-img-attrs="{&quot;title&quot;: &quot;Lil Pup smiling&quot;, &quot;alt&quot;: &quot;beagle mix smiling at the camera&quot;}">
            <img typeof="foaf:Image" src="https://www.greymuzzle.org/sites/default/files/styles/meet_the_dogs/public/senior_spotllight/lilpupbefore_ss.jpg?itok=ylHxpGVr" width="250" height="220" alt="beagle mix smiling at the camera" title="Lil Pup smiling">
          </a>
        </div>
      </div>
    </div>
    <div class="field field--name-field-ss-dog-link field--type-link-field field--label-hidden">
      <div class="field__items">
        <div class="field__item even">
          <a href="https://www.littleshelter.org/copy-of-stover-may-22">Lil Pup</a>
        </div>
      </div>
    </div>
    <div class="field-group-htabs-wrapper group-ss-display-group field-group-htabs">
      <h2 class="element-invisible">Horizontal Tabs</h2>
      <div class="horizontal-tabs clearfix">
        <ul class="horizontal-tabs-list">
          <li class="horizontal-tab-button horizontal-tab-button-0 first selected" tabindex="-1">
            <a href="#undefined"><strong>About</strong><span id="active-horizontal-tab" class="element-invisible">(active tab)</span></a>
          </li>
          <li class="horizontal-tab-button horizontal-tab-button-1 last" tabindex="-1">
            <a href="#undefined"><strong>Organization</strong></a>
          </li>
        </ul>
        <div class="horizontal-tabs-panes horizontal-tabs-processed">
          <fieldset class="group-ss-display-dog field-group-htab form-wrapper horizontal-tabs-pane">
            <legend><span class="fieldset-legend">About</span></legend>
            <div class="fieldset-wrapper">
              <div class="field field--name-body field--type-text-with-summary field--label-hidden"><div class="field__items"><div class="field__item even" property="content:encoded"><p>&nbsp; With a cool rapper name and a big personality, this ten- year-old Bulldog/Beagle﻿ mix is Lil Pup. After only being at the shelter for a short time, he already has a huge fan base and several&nbsp;groupies amongst the staff, fondly known as “puppers”! He’s&nbsp;started a diet and exercise program so he’ll be in tip-top&nbsp;shape and ready to go to on the road….destination, a forever&nbsp;home! Lil Pup has a happy, positive outlook on life, as evidenced&nbsp;by his famous “wiggle” and cheerful attitude, inspiring you&nbsp;to always see the best in everyone and everything. So, if you want to finally know the answer to “Who Let the Dogs Out”, stop by to meet the one and only Lil Pup!<br><br>*Lil Pup is fully grown and housebroken* Dog Friendly: Yes&nbsp; &nbsp; Cat Friendly: Yes</p>
                  </div></div></div>
              <div class="field field--name-field-ss-dog-age field--type-text field--label-inline clearfix"><div class="field__label">Approximate Age:&nbsp;</div><div class="field__items"><div class="field__item even">10</div></div></div>
              <div class="field field--name-field-ss-dog-breed field--type-text field--label-inline clearfix"><div class="field__label">Breed (if known):&nbsp;</div><div class="field__items"><div class="field__item even">Beagle/Bulldog</div></div></div>
              <div class="field field--name-field-ss-dog-weight field--type-text field--label-inline clearfix"><div class="field__label">Approximate Weight:&nbsp;</div><div class="field__items"><div class="field__item even">55 lbs</div></div></div>
              <div class="field field--name-field-ss-dog-sex field--type-list-text field--label-inline clearfix"><div class="field__label">Sex:&nbsp;</div><div class="field__items"><div class="field__item even">Male</div></div></div>
              <div class="field field--name-field-ss-dog-home-pref field--type-list-text field--label-inline clearfix"><div class="field__label">Home Preferences:&nbsp;</div><div class="field__items"><div class="field__item even">Cats OK</div><div class="field__item odd">Dogs OK</div><div class="field__item even">Small Animals OK</div></div></div>
              <div class="field field--name-field-ss-dog-fee field--type-text field--label-inline clearfix"><div class="field__label">Adoption Fee:&nbsp;</div><div class="field__items"><div class="field__item even">$225</div></div></div>
              <div class="field field--name-field-ss-dog-out-of-area field--type-list-boolean field--label-inline clearfix"><div class="field__label">Adopt out of area?:&nbsp;</div><div class="field__items"><div class="field__item even">No</div></div></div></div></fieldset>
          <fieldset class="group-ss-display-org field-group-htab form-wrapper horizontal-tabs-pane horizontal-tab-hidden"><legend><span class="fieldset-legend">Organization</span></legend><div class="fieldset-wrapper">
              <div class="field field--name-field-ss-org-contact-name field--type-text field--label-inline clearfix"><div class="field__label">Contact Name:&nbsp;</div><div class="field__items"><div class="field__item even">Susan Kennedy</div></div></div>
              <div class="field field--name-field-ss-org-email field--type-email field--label-inline clearfix"><div class="field__label">Contact Email:&nbsp;</div><div class="field__items"><div class="field__item even"><a href="mailto:susank@littleshelter.com">susank@littleshelter.com</a></div></div></div>
              <div class="field field--name-field-ss-org-name field--type-text field--label-inline clearfix"><div class="field__label">Organization Name:&nbsp;</div><div class="field__items"><div class="field__item even">Little Shelter Animal Rescue and Adoption Center</div></div></div>
              <div class="field field--name-field-ss-org-website field--type-link-field field--label-inline clearfix"><div class="field__label">Organization Website:&nbsp;</div><div class="field__items"><div class="field__item even"><a href="https://www.littleshelter.org/" rel="nofollow" target="_blank">Little Shelter</a></div></div></div><div class="field field--name-field-ss-dog-reason field--type-list-text field--label-inline clearfix"><div class="field__label">Reason at shelter / rescue:&nbsp;</div><div class="field__items"><div class="field__item even">Rescued (Seized)</div></div></div></div></fieldset>
        </div></div></div><div class="field field--name-field-ss-is-adopted field--type-list-boolean field--label-above"><div class="field__label">IS ADOPTED:&nbsp;</div><div class="field__items"><div class="field__item even"></div></div></div>  </div>

</article>
