.footer {
  background-color: clr(accent);
  padding: $space 0;

  &__inner {
    @include wrapper;

    display: flex;
    justify-content: space-evenly;
    flex-flow: column nowrap;

    @include large {
      flex-direction: row;
    }
  }
}

.footer__social {
  margin-bottom: $space;
}

.footer__menu {
  margin-bottom: $space;
}
