<div class="search" role="search">
  {% block site_search %}
  <form class="search-block-form" action="/business-supporters" method="post" id="search-block-form" accept-charset="UTF-8">
    <div>
      <div class="container-inline">
        <h2 class="element-invisible">Search form</h2>
        <div class="form-item form-type-textfield form-item-search-block-form">
          <label class="element-invisible" for="edit-search-block-form--2">Enter the terms you wish to search for.</label>
          <input aria-required="true" type="text" id="edit-search-block-form--2" name="search_block_form" value="" size="15" maxlength="128" class="form-text" />
        </div>
        <div class="form-actions form-wrapper" id="edit-actions">
          <input alt="Search" type="image" id="edit-submit" name="submit" src="search-button.png" class="form-submit" />
        </div>
        <input type="hidden" name="form_build_id" value="form-AJj2rb4pAJmbyhj6SeAVpn6YDSbf7aewOqqAemSy360" />
        <input type="hidden" name="form_token" value="60XGmeZitFuDORUCCXxWMOi189r14CNVx8OJJvB3N3o" />
        <input type="hidden" name="form_id" value="search_block_form" />
      </div>
    </div>
  </form>
  {% endblock %}
</div>
