.faq-questions {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px dotted #D3D7D9;
  margin-bottom: 1rem;

  p {
    margin: 0;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    color: clr(primary);
    background: clr(muted);
    font-weight: bold;
    cursor: pointer;

    a {
      color: clr(primary);
      display: block;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    /* Icon */
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }

  &__content {
    max-height: 0;
    visibility: hidden;
    padding: 0 1em;
    color: clr(text);
    background: white;
    transition: all .35s;
  }

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;

    &:checked {
      + .faq-questions__label {
        &::after {
          transform: rotate(90deg);
        }
      }
      ~ .faq-questions__content {
        visibility: visible;
        max-height: 100vh;
        padding: 1em;
      }
    }
  }
}

