// Your Gift
//
// Style guide: components.mailing-list

.l-spread-word {
  @include clearfix;
  border: none;
  color: color(gray-tundora);
  text-align: center;
  width: 100%;
  float: right;
  margin: 0 auto;
  height: 100%;
  padding-bottom: 50px;

  @include breakpoint($bp-large) {
    border: 4px solid color(aliceblue);
    width: 49%;
    max-width: 535px;
    height: 517px;
  }

  .pane-title {
    @include font-size(25px);
    margin-bottom: 0;
    text-align: center;
    margin-top: 85px;
    padding-top: 95px;
    margin-bottom: -52px;
  }

  .wrapper p {
    width: 82%;
    margin: 0 auto 40px;

    img {
      height: 90px;
      margin-top: -168px;
      width: 90px;
      left: 41%;

      @include breakpoint($bp-small) {
        left: 42%;
      }

      @include breakpoint($bp-medium) {
        left: 44%;
      }

      @include breakpoint($bp-large) {
        left: 46%;
      }
    }
  }

  div {
    margin: -3px 4px;
  }

  a {
    padding: 10px;
  }

  img {
    width: 66px;
    height: 66px;
  }

  .wrapper {
    max-width: 300px;
    margin: 0 auto;

    @include breakpoint($bp-small) {
      margin: 0 0 30px;
      max-width: 100%;
    }
  }

  .subheading {
    padding-top: 15px;
    margin-bottom: 20px;
  }
}

.two-col-homepage {
  max-width: 1022px;
  margin: 0 auto;
  clear: both;
  min-height: 560px;
}
