// Who we help
//
// Markup: components.who-we-help.hbs
//
// Style guide: components.who-we-help

.who-we-help--wrapper {

  .view-content {
    margin-top: 25px;
  }

  .list--row {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid color(gray-gallery);
    float: left;

    &.views-row-last {
      border-bottom: none;
    }

    @include breakpoint($bp-small) {
      display: flex;
    }
  }

  .org-wrapper {
    flex: 1 1 auto;
    float: left;

    @include breakpoint($bp-medium) {
      margin-left: -1em;
      float: none;
    }
  }

  .org__name {
    margin-top: 0;
    margin-bottom: 0;
  }

  .org__heading {
    margin-top: 0;
    margin-bottom: 0;
  }

  .who-we-help__body p,
  .about__body p {
    margin-top: 0;
  }

  > div.view-content > div > a > img,
  > div.view-content > div > a {
    min-width: 200px;
    max-width: 200px;
    margin-right: 20px;
    border: none;
    float: left;
  }

  .media-wrapper {
    .media__image:not(:empty) {
      min-width: 200px;
      max-width: 200px;
      margin-right: 20px;
      border: none;
      float: left;
      text-align: left;
      img {
        width: 100%;
      }
    }
  }
}
