<div class="who-we-help--wrapper">
  <h2 class="view__heading">Who we help</h2>
  <div class="list__row">
    <div class="media-wrapper">
      <div class="media__image">
        <img src="http://placehold.it/200x200" alt="Sample image">
      </div>
    </div>
    <!-- /end of media-wrapper -->

    <div class="org-wrapper">
      <h3 class="org__name">Loving Companions Animal Rescue, Inc.</h3>
      <div class="org__date">
        Funded: 2014 – 2015
      </div>
      <h4 class="org__heading">How we help</h4>
      <p>Funding from The Grey Muzzle Organization will help with their “Senior Pets for Senior People” program. This program will pay the total adoption costs for the senior dog to include; a collar, leash, free pet food, identification tags, a coat and gift package of pet items and a packet of information and referral for assistance with the senior pet. </p>

      <h4 class="org__heading">About Loving Companions Animal Rescue, Inc.</h4>

      <p>Loving Companions Animal Rescue, Incorporated is an organization designed to save from destruction those usually older pets that have become hard to place because of their age or disabilities. These once great pets and friends are no longer wanted by the general population. We strive to give them a warm, comfortable home and try to place them with a new family that will have the ability and desire to care for such an animal. We will strive to maintain comfortable surroundings for those animals that cannot be placed to insure they are able to live out their natural life.</p>
      <a href="#">Learn More about Loving Companions Animal Rescue, Inc.</a>
    </div>
  </div>
  <!-- /end of list__row -->
</div>
<!-- /end of who-we-help__wrapper -->
