// Social Media Icons
//
// Markup: components.social-icons.hbs
//
// Style guide: components.social-icons

.social__links {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.social__links li {
  display: flex;
  width: 35px;
  margin: 0 0.5rem;
}

a.social__link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 35px;
  height: 35px;
  background: color(white);
  border-radius: 50%;
  color: transparent;
  text-decoration: none;

  span {
    display: block;
    text-indent: -999999px;
  }

  &:before {
    @include font-size(20px);
    color: color(gray-tundora);
  }
}

/**
 * theming of social icons on full nodes.
 * absolutely positions icons for anonymous
 * and authenticated users.
 */
.addtoany_list {
  display: block;
  text-align: center;
  margin-bottom: 2rem;

  @include breakpoint($bp-medium) {
    position: absolute;
    right: 0;
    top: -59px;

    .logged-in & {
      top: -108px;
    }
  }
}

.panel-right-sidebar .addtoany_list {
  display: block;
  text-align: center;
  margin-bottom: 2rem;

  @include breakpoint($bp-medium) {
    position: absolute;
    right: 0;
    top: -43px;

    .logged-in & {
      top: -59px;
      right: 0;
    }
  }

  @include breakpoint($bp-large) {

    .logged-in & {
      right: -51%;
    }
  }
}

.l-one-column .addtoany_list {
  display: block;
  text-align: center;
  margin-bottom: 2rem;

  @include breakpoint($bp-medium) {
    position: absolute;
    right: 0;
    top: -43px;

    .logged-in & {
      top: -59px;
      right: 0;
    }
  }
}

.a2a_img {
  background: none !important;
}

.a2a_button_twitter,
.a2a_button_facebook,
.a2a_button_google_plus,
.a2a_button_pinterest,
.social-link_youtube {
  display: inline-block;
  width: 25px;
  height: 26px;
  margin: 0 0.2rem;
  text-indent: -999999px;
  background: url(../assets/dist/images/social-icons.png) 0 0 no-repeat;
}

.social-link_youtube img {
  @include visuallyhiden;
}

.a2a_button_facebook {
  background-position: -25px 0;
}

.a2a_button_google_plus {
  background-position: -50px 0;
}

.a2a_button_pinterest {
  width: 26px;
  height: 29px;
  background-position: -76px 2px;
}

.social-link_youtube {
  width: 36px;
  background-position: -102px 0;
}
