  <div class="footer__social">
    <ul class="social__links">
      <li><a class="fa fa-twitter social__link-item" href="#"><span>Twitter</span></a></li>
      <li><a class="fa fa-facebook social__link-item" href="#"><span>Facebook</span></a></li>
      <li><a class="fa fa-youtube social__link-item" href="#"><span>YouTube</span></a></li>
      <li><a class="fa fa-instagram social__link-item" href="#"><span>Instagram</span></a></li>
      <li><a class="fa fa-pinterest social__link-item" href="#"><span>Pinterest</span></a></li>
    </ul>
  </div>
