<div {{ attributes.addClass('image-default') }} class="image-default">
  {% block field_image %}
  <img height="213" width="320" style="width: 320px; height: 213px;" class="media-element file-basic-page-320x240-left" data-delta="1" typeof="foaf:Image" src="https://www.greymuzzle.org/sites/default/files/styles/basic_page_320x240/public/paterno.jpg?itok=aD7GCO2Y" alt="" />
  {% endblock %}
  {% if content.field_photo_credit|field_value is not empty %}
  <div class="image-default__caption">
    Photo credit: {{ content.field_photo_credit.0 }}
  </div>
  {% endif %}
  {% if content.field_caption|field_value is not empty %}
  <div class="image-default__caption">
    {{ content.field_caption}}
  </div>
  {% endif %}
</div>
