<h1>Contact Us</h1>
<div class="contact__webform">
  <div class="form-item">
    <label for="">Name *</label>
    <input type="text">
    <div class="description">Type your full name</div>
  </div>

  <div class="form-item">
    <label for="">Email *</label>
    <input type="email">
    <div class="description">Type your email address</div>
  </div>

  <div class="form-item">
    <label for="">Phone</label>
    <input type="text">
    <div class="description">Type your phone number including area code</div>
  </div>

  <div class="form-item">
    <label for="">About</label>
    <select name="submitted[about]" id="edit-submitted-about">
      <option value selected="selected">- Select -</option>
      <option value="1">Grants</option>
      <option value="2">Senior Dogs Information</option>
      <option value="3">Donations</option>
    </select>
    <div class="description">Select the reason for your inquiry</div>
  </div>

  <div class="form-item">
    <label for="">Comments *</label>
    <textarea name="submitted[comments" cols="60" rows="5"></textarea>
    <div class="description">Please tell us the reason for contacting us.  Be as detailed as possible.</div>
  </div>

  <div class="form-actions">
    <input type="submit" class="webform-submit button-primary" value="Submit">
  </div>
</div>
