<div class="aimh">
  <div class="aimh__media-wrapper">
    <figure class="aimh__image">
      {{ field_heart_image }}
      <figcaption class="aimh__dog-name">
        {{ field_heart_dogs_name }}
      </figcaption>
    </figure>
  </div>
</div>
