<!-- ======================================== -->
<!-- always in my heart -->
<!-- ======================================== -->
<div class="always--wrapper">
  <h2 class="view__heading">Always In My Heart Donors</h2>
  <div class="list__row">
    <div class="media-wrapper">
      <div class="media__image">
        <img src="http://placehold.it/325x350" alt="Sample Image">
        <div class="dog-name">Andy</div>
      </div>
    </div>
    <!-- /media-wrapper -->

    <div class="donor-wrapper">
      <h3 class="donor__name">Lisa Lunghofer</h3>
      <div class="donor--text">
        <p>Lisa Lunghofer, Ph.D., is the Executive Director for The Grey Muzzle Organization. She is also Executive Director of Making Good Work and has 20 years of experience working with public sector and nonprofit clients, helping them to create strategic plans, develop logic models, ...</p>
      </div>
    </div>
    <!-- /bio-wrapper -->

  </div>
  <!-- /end of view__row -->


  <div class="list__row">
    <div class="media-wrapper">
      <div class="media__image">
        <img src="http://placehold.it/325x350" alt="Sample Image">
        <div class="dog-name">Sweet Kennedy</div>
      </div>
    </div>
    <!-- /media-wrapper -->

    <div class="donor-wrapper">
      <h3 class="donor__name">Tami & Kent Sterling</h3>
      <div class="donor--text">
        <p>In loving memory of our sweet Kennedy who exemplified the meaning of pure & authentic love. Our hearts, although broken by your departure, were forever changed by the blessings that your gentle demeanor and steadfast love brought to us. We will forever miss you and until that sweet day, when we meet again in all of heavens glory, your memory will forever reside within our mind and hearts!</p>
      </div>
    </div>
    <!-- /bio-wrapper -->

  </div>
  <!-- /end of view__row -->
</div>
<!-- /end of always__wrapper -->
