{% set page_layout_modifier = 'full' %}

{% embed "@templates/full-width.twig" %}
  {% block page_content %}
    {% include "@molecules/hero/hero.twig" with {
      label: 'Summer Smile - You Can Make a Senior Dog Smile',
      field_image: '<picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="http://www.greymuzzle.org/sites/default/files/styles/hero_tiny/public/hero/ss21_webbanner.png?itok=i9QTXK58&amp;timestamp=1629378868 571w, http://www.greymuzzle.org/sites/default/files/styles/hero_small/public/hero/ss21_webbanner.png?itok=s29bgHsZ&amp;timestamp=1629378868 857w, http://www.greymuzzle.org/sites/default/files/styles/hero_medium/public/hero/ss21_webbanner.png?itok=8W209jVc&amp;timestamp=1629378868 1429w, http://www.greymuzzle.org/sites/default/files/styles/hero_large/public/hero/ss21_webbanner.png?itok=Jfpncw4i&amp;timestamp=1629378868 2000w" media="(min-width: 1024px)" sizes="100vw">
      <source srcset="http://www.greymuzzle.org/sites/default/files/styles/hero_tiny/public/hero/ss21_webbanner.png?itok=i9QTXK58&amp;timestamp=1629378868 571w, http://www.greymuzzle.org/sites/default/files/styles/hero_small/public/hero/ss21_webbanner.png?itok=s29bgHsZ&amp;timestamp=1629378868 857w, http://www.greymuzzle.org/sites/default/files/styles/hero_medium/public/hero/ss21_webbanner.png?itok=8W209jVc&amp;timestamp=1629378868 1429w, http://www.greymuzzle.org/sites/default/files/styles/hero_large/public/hero/ss21_webbanner.png?itok=Jfpncw4i&amp;timestamp=1629378868 2000w" media="(min-width: 800px)" sizes="100vw">
      <source srcset="http://www.greymuzzle.org/sites/default/files/styles/hero_tiny/public/hero/ss21_webbanner.png?itok=i9QTXK58&amp;timestamp=1629378868 571w, http://www.greymuzzle.org/sites/default/files/styles/hero_small/public/hero/ss21_webbanner.png?itok=s29bgHsZ&amp;timestamp=1629378868 857w, http://www.greymuzzle.org/sites/default/files/styles/hero_medium/public/hero/ss21_webbanner.png?itok=8W209jVc&amp;timestamp=1629378868 1429w, http://www.greymuzzle.org/sites/default/files/styles/hero_large/public/hero/ss21_webbanner.png?itok=Jfpncw4i&amp;timestamp=1629378868 2000w" media="(min-width: 560px)" sizes="100vw">
      <source srcset="http://www.greymuzzle.org/sites/default/files/styles/hero_tiny/public/hero/ss21_webbanner.png?itok=i9QTXK58&amp;timestamp=1629378868 571w, http://www.greymuzzle.org/sites/default/files/styles/hero_small/public/hero/ss21_webbanner.png?itok=s29bgHsZ&amp;timestamp=1629378868 857w, http://www.greymuzzle.org/sites/default/files/styles/hero_medium/public/hero/ss21_webbanner.png?itok=8W209jVc&amp;timestamp=1629378868 1429w, http://www.greymuzzle.org/sites/default/files/styles/hero_large/public/hero/ss21_webbanner.png?itok=Jfpncw4i&amp;timestamp=1629378868 2000w" media="(min-width: 1px)" sizes="100vw">
      <!--[if IE 9]></video><![endif]-->
      <img src="http://www.greymuzzle.org/sites/default/files/styles/hero_small/public/hero/ss21_webbanner.png?itok=s29bgHsZ&amp;timestamp=1629378868" alt="Summer Smile Campaign 2021" title="" />
    </picture>'

    }%}
    {% include "@molecules/media-card/media-card.twig" with {
      title: 'Media Card with Video',
      body: 'Senior dogs depend on us to care for them through all stages of their lives. Your tax deductible donation will provide them with the care they need to get adopted and live out their golden years, months, or weeks in a place of love, security and peace.',
      media: '<div class="media-youtube-video media-youtube-1"><iframe class="media-youtube-player" width="640" height="390" title="Grey Muzzle Supporter Thank You" src="https://www.youtube.com/embed/I1AMWnVXHn4?wmode=opaque&amp;controls=&amp;rel=0" frameborder="0" allowfullscreen="">Video of Grey Muzzle Supporter Thank You</iframe></div>',
      button: {
        button_content: 'Donate Now',
        button_url: '#',
      },
    } %}
    {% include "@molecules/text-card/text-card.twig" with {
      label: 'Help Homeless Shelter Dogs',
      body: 'At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero voluptua. est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.',
    } %}
    {% include "@molecules/programs/programs.twig" with {
      label: 'Programs We Support',
      heading: '<p><a class="link" href="/about-us/who-we-help">Grey Muzzle funding supports senior dog programs nationwide.</a></p>',
      items: [
        {
          label: 'Adoptable Dogs Medical Care Programs',
          field_image: '<img alt="" data-fid="35" data-media-element="1" src="https://www.greymuzzle.org/sites/default/files/icon-medical.png" style="width: 128px; height: 128px;" typeof="foaf:Image">',
        },
        {
          label: 'Seniors for Seniors Adoption Programs',
          field_image: '<img alt="" data-fid="38" data-media-element="1" src="https://www.greymuzzle.org/sites/default/files/icon-adoption.png" style="width: 128px; height: 128px;" typeof="foaf:Image">',
        },
        {
          label: 'Keeping Dogs with Their Owners Program',
          field_image: '<img alt="" data-fid="39" data-media-element="1" src="https://www.greymuzzle.org/sites/default/files/icon-owners.png" style="width: 128px; height: 128px;" typeof="foaf:Image">',
        },
        {
          label: 'Hospice and&nbsp;Long-Term Foster Care Programs',
          field_image: '<img alt="" data-fid="40" data-media-element="1" src="https://www.greymuzzle.org/sites/default/files/icon-hospice_0.png" style="width: 128px; height: 128px;" typeof="foaf:Image">',
        },
      ],
    } %}
    {% include "@molecules/cta/cta.twig" with {
      cta__heading: 'Here\'s a cool thing!',
      cta__button_text: 'Click me!',
    } %}
  {% endblock %}
{% endembed %}
