@mixin grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.grid {
  @include grid;

  &--card {
    @include space-stack-page;
    justify-content: space-between;
  }

  &--who_we_are_advisory {
    justify-content: space-between;
  }

}
