@mixin grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.grid {
  @include grid;

  &--card {
    @include space-stack-page;
    justify-content: space-around;
  }

  &--who_we_are_advisory {
    justify-content: flex-start;
  }
  &--senior_spotlight,
  &--meet_the_dogs {
    justify-content: space-between;
  }

}

.main--front {
  .grid--always_in_my_heart {
    justify-content: space-between;
  }
}
