.header {
  background: $white;

  &__inner {
    @include wrapper;

    display: flex;
    flex-flow: column nowrap;
  }

  &__primary {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: $space 0;
  }

  &__branding {
    margin-right: $space;
    max-width: 300px;
  }
}
