// Header
//
// Markup: components.header.hbs
//
// Style guide: components.header

.l-header {
  @include clearfix;
  min-height: 171px;
  max-width: 2000px;
  margin: 0 auto;

  .l-branding {
    position: relative;
    z-index: 10;
    width: 150px;
    padding: 20px 20px 0;
    margin-top: -30px;
  }
}

.not-front .l-header {
  margin-bottom: -52px;
}

.site-logo {
  background: url('/sites/all/themes/custom/greymuzzle/logo.png') 0 0 no-repeat;
  height: 125px;
  width: 125px;
  color: transparent;
  overflow: hidden;
  background-repeat: no-repeat;
  text-indent: -9999px;
  display: block;
  margin-top: -22px;
}
