<header class="l-header" role="banner">
  <div class="l-accessiblity-bar">
    <ul class="accessibility__menu">
      <li><a href="#">Dyslexia</a></li>
      <li><a href="#">Contrast</a></li>
      <li><a href="#">- A +</a></li>
    </ul>
  </div>
  <div class="l-branding">
    <img src="http://placehold.it/125x125" alt="Greymuzzle">
  </div>
  <!-- /end of branding -->

  <nav class="l-navigation menu">
    <ul class="nav-menu">
      <li class="nav-item"><a href="/node">About Us</a>
        <div class="sub-nav">
          <ul class="sub-nav-group">
            <li><a href="/node">What We Do & Why</a></li>
            <li><a href="/node">Who We Are</a></li>
            <li><a href="/node">Who We Help</a></li>
            <li><a href="/node">Meet the Dogs</a></li>
            <li><a href="/node">General FAQs</a></li>
            <li><a href="/node">Financials</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item"><a href="/node">How to Help</a>
        <div class="sub-nav">
          <ul class="sub-nav-group">
            <li><a href="/node">Item 1</a></li>
            <li><a href="/node">Item 2</a></li>
            <li><a href="/node">Item 3</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item"><a href="/node">Grants</a>
        <div class="sub-nav">
          <ul class="sub-nav-group">
            <li><a href="/node">Item 1</a></li>
            <li><a href="/node">Item 2</a></li>
            <li><a href="/node">Item 3</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item"><a href="/node">News</a>
        <div class="sub-nav">
          <ul class="sub-nav-group">
            <li><a href="/node">Item 1</a></li>
            <li><a href="/node">Item 2</a></li>
            <li><a href="/node">Item 3</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item"><a href="/node">Contact Us</a>
        <div class="sub-nav">
          <ul class="sub-nav-group">
            <li><a href="/node">Item 1</a></li>
            <li><a href="/node">Item 2</a></li>
            <li><a href="/node">Item 3</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
  <!-- /end of l-navigation -->

  <div class="l-search">
    <input type="text" name="search" />
    <input type="submit" name="Search" placeholder="Search our site" />
  </div>

  <div class="header__donate">
    <a href="#" class="header__donate--button">Donate</a>
  </div>
  <!-- /end of donate -->
</header>
