// Text Fields
//
// Markup: base.text-fields.hbs
//
// Style guide: base.text-fields

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  @include font-size(18px);
  display: block;
  width: 100%;
  border: 1px solid color(gray-gallery);
  padding: 0.4rem;
  margin: 0;

  &.error {
    border: 2px solid red !important;
  }
}
