<div class="card">
  <h3 class="card__title">{{ field_title }}</h3>
  <div class="card__image">{{ field_media }}</div>
  <div class="card__caption">{{ field_caption }}</div>
  <div class="card__link btn">{{ field_cta }}</div>
</div>
