<div class="accessibility-bar">
  <!--
  <div class="font_block">
      <button id="dyslexia" class="dyslexic-font" role="checkbox" aria-checked="false">Dyslexia</button>
      <button id="contrast" class="contrast-colors" role="checkbox" aria-checked="false">Contrast</button>
  </div>
  <div class="text-resize">
    <a href="#" class="changer" role="radio" aria-checked="false"><sup>-</sup>A<span class="element-invisible"> Decrease text size</span></a>
    <a href="#" class="changer" role="radio" aria-checked="false">A<span class="element-invisible"> Reset text size</span></a>
    <a href="#" class="changer" id="text_resize_increase" role="radio" aria-checked="false"><sup>+</sup>A<span class="element-invisible"> Increase text size</span></a>
  </div>
  -->
  <div class="header__donate">
    <span class="donate-message">Make a difference!</span>
    <a href="https://greymuzzle.z2systems.com/donation.jsp?campaign=66&amp;" class="button button--donate">Donate Now <span class="element-invisible"> We regret that this link leads to an inaccessible third party page. Please contact us for assistance.</span></a>
  </div>
</div>
