// Donate with confidence
//
// Style guide: components.donate-with-confidence


// Homepage block
.l-donate {
  @include clearfix;
  background: color(blue-chill);
  text-shadow: 1px 1px color(gray-tundora);
  color: color(white);
  text-align: center;

  .pane-title {
    @include font-size(25px);
    margin-bottom: 0;
    text-align: center;
    margin-top: 85px;
    padding-top: 15px;

     @include breakpoint($bp-small) {
       @include font-size(35px);
     }
  }

  .wrapper p {
    @include font-size(20px);
    line-height: 1.5;
    width: 82%;
    margin: 0 auto 40px;

    a {
      color: color(white);
    }

    img {
      height: 90px;
      position: absolute;
      margin-top: -115px;
      width: 90px;
      left: 42%;

      @include breakpoint($bp-small) {
        left: 44%;
        margin-top: -130px;
      }

      @include breakpoint($bp-medium) {
        left: 45%;
      }

      @include breakpoint($bp-large) {
        left: 47%;
      }
    }
  }
}
