.node--full {
  .field--name-field-photo-credit,
  figcaption {
    @include font-size(12px);
    display: block;
    padding: 0.3rem 0.5rem;
    background: color(gray-tundora);
    color: color(white);
  }

  .field--name-field-photo-credit {
    display: block;

    .field-label,
    .field-item {
      display: inline;
    }
  }
}

/**
 * styles for embedded images which
 * include captions and/or photo credit.
 */
.media-basic_page_220x220,
.media-basic_page_220x220_left,
.media-basic_page_220x220_right {
  figure,
  img {
    width: 220px;
  }
}

.media-basic_page_320x240,
.media-basic_page_320x240_left,
.media-basic_page_320x240_right {
  figure,
  img {
    width: 320px;
  }
}

